.search .md-input{
    border-color: #fff;
    color: #fff;
}
.search label{
    border-color: #fff;
    color: #fff;

}
.search:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #fff;
    color: #fff;
}
.search:not(.md-input-invalid).md-input-focused label {
    color: #fff;
}

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}