<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="clienteItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content">
            <span>CLIENTES</span>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="!historialClient">
            <span>HISTORIAL</span>
        </md-tab>
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingCliente"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="clienteItem.selectedIndex" class="tabpanel-container">

            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center">
                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">
                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-2" flex="initial">MIS CLIENTES</span>
                                    </div>
                                    <div flex="nogrow">
                                        <md-button  aria-label="primr" class="md-icon-button" pdf-save-button="proveedor" pdf-name="proveedor.pdf">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <input ng-model="searchClient" type="text" placeholder="Buscar cliente" required="" style="border:0px solid #757575; border-radius:6px;padding:7px;">
                                        <!--<md-input-container>
                                                <label>Buscar Cliente</label>
                                                <input ng-model="searchClient" type="text" required="">
                                            </md-input-container>-->
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="row" layout-align="space-between center" flex>
                                    <div layout-align="center center" layout="row" flex="initial">
                                        <div layout="row" layout-align="center center" flex="initial">
                                            <ng-md-icon icon="insert_emoticon" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">Descripción</div>
                                    </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="insert_emoticon" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-repeat="item in Collection_cliente | filter:searchClient" ng-click="passHistorial(item)">
                                <div layout="row" layout-align="center center" flex="initial">
                                    <ng-md-icon icon="insert_emoticon" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                </div>
                                <div class="md-list-item-text" layout="column" style="padding-left:8px;">
                                    <h3>{{item.primer_apellido_cliente}} {{item.segundo_apellido_cliente}}</h3>
                                    <h4>{{item.nombres_cliente}}</h4>
                                    <p>DNI: {{item.dni_cliente}}</p>
                                </div>
                                <div layout-align="center center" flex="nogrow">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="passHistorial(item)">
                                        <ng-md-icon icon="remove_red_eye" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column">
                <md-card flex-gt-sm="95">
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">INFORMACION DEL CLIENTE:</span>
                                </div>
                                <div flex="nogrow">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="null">
                                        <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{detailsClient.info.primer_apellido_cliente}} {{detailsClient.info.segundo_apellido_cliente}}</span>
                            <span class="md-subhead">{{detailsClient.info.nombres_cliente}}</span>
                            <span class="md-caption">{{detailsClient.info.dni_cliente}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img src="images/icons/user.svg" alt="user">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">HISTORIAL DEL CLIENTE:</span>
                                </div>
                                <div layout="row" flex="nogrow" layout-xs="column">
                                    <div layout="row" layout-align="center center">
                                        <span class="md-caption" style="padding-right:15px;">{{detailsClient.historial.length}}</span>
                                        <ng-md-icon icon="description" style="fill:#757575;" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <input ng-model="searchActa" type="text" placeholder="Buscar Espediente" required="" style="border:0px solid #757575; border-radius:6px;padding:7px; margin-left:15px;">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>

                    </md-list>
                </md-card>
                <md-card flex-gt-sm="95" ng-repeat="item in detailsClient.historial | filter:searchActa">
                    <md-card-content layout="column" flex>
                        <div layout="column" layout-margin>
                            <div layout="row" layout-align="space-between center">
                                <span flex="initial" class="md-title">Concepto: {{item.concepto}}</span>
                                <span flex="nogrow" class="md-body-1">Nro. Identificación: {{item.nro_identificacion}}</span>
                            </div>
                            <md-divider></md-divider>
                            <span class="md-subhead"><strong>Servicio:</strong> {{item.descripcion_servicio}}</span>
                            <span class="md-subhead"><strong>Estado:</strong> {{item.estado}}</span>
                            <span class="md-caption"><strong>Nro. Doc. Referencia:</strong> {{item.nro_doc_ref}}</span>
                            <span class="md-caption"><strong>Nro. SO:</strong> {{item.nro_os}}</span>
                            <span class="md-caption"><strong>Nro. Contrato:</strong> {{item.nro_contrato}}</span>
                            <span class="md-caption"><strong>Fec. Conformidad:</strong> {{item.fecha_conformidad | date:'medium'}}</span>
                        </div>
                        <div layout="row" flex>
                            <div layout="column" flex layout-margin>
                                <span class="md-subhead">PERSONAL</span>
                                <md-divider></md-divider>
                                <div flex>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Nombres:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.nombres_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Paterno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.primer_apellido_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Materno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.segundo_apellido_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">DNI:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.dni_personal}}</span>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" flex layout-margin>
                                <span class="md-subhead">PROVEEDOR</span>
                                <md-divider></md-divider>
                                <div flex>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Nombres:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.nombres_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">

                                        <span flex="initial" class="md-body-1">Ape. Paterno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.primer_apellido_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Materno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.segundo_apellido_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">RUC:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.ruc_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Dirección:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.direccion_proveedor}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <md-list layout="column" flex="">
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <span flex class="md-caption">Descripción</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">Con. Conformidad</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">Reg. Conformidad</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">Monto Saldo</span>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-click="null">
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <span flex class="md-caption">{{item.descripcion_acta}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.monto_con_conformidad}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.monto_registro_conformidad}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.monto_saldo}}</span>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </div>
        </ng-switch>
    </ui-view>
</md-content>