<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="configuracionItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content">
            <span>BIENES</span>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <span>CARGOS</span>
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content">
            <span>UNIDADES</span>
        </md-tab>
        <md-tab id="tab4" aria-controls="tab4-content">
            <span>AREAS</span>
        </md-tab>
        <md-tab id="tab5" aria-controls="tab5-content" ng-disabled="'true'">
            <span>ACTIVOS</span>
        </md-tab>
        <md-tab id="tab6" aria-controls="tab6-content" ng-disabled="'true'">
            <span>CAT PATRIMONIO</span>
        </md-tab>
        <md-tab id="tab7" aria-controls="tab7-content" ng-disabled="'true'">
            <span>RIESGO</span>
        </md-tab>
        <md-tab id="tab8" aria-controls="tab8-content" ng-disabled="'true'">
            <span>VULNERABILIDAD</span>
        </md-tab>
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingConfiguracion"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="configuracionItem.selectedIndex" class="tabpanel-container">

            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center">
                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item style="background:rgba(0,0,0,0.05)">
                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-2" flex="initial">TIPO DE BIENES</span>
                                    </div>
                                    <div flex="nogrow">
                                    </div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <form name="bienContent" layout="row" flex>
                                    <md-input-container flex>
                                        <label>Ingresa un Nuevo Bien</label>
                                        <input ng-model="bien.descripcion_bien" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Tipo Tangintang</label>
                                        <input ng-model="bien.tipoTangintang" type="text" required="">
                                    </md-input-container>
                                    <div flex="nogrow">
                                        <md-button class="md-primary md-raised" ng-click="new('Bien',bien)" ng-disabled="bienContent.$invalid" ng-show="!editBien">Agregar</md-button>
                                        <md-button class="md-primary md-raised" ng-click="edit('Bien',bien)" ng-disabled="bienContent.$invalid" ng-show="editBien">Guardar</md-button>
                                        <md-button class="md-green md-raised" ng-click="cancelBien()" ng-show="editBien">Cancelar</md-button>
                                    </div>
                                </form>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-between center" flex>
                                    <div layout-align="center center" layout="row" flex="initial">
                                        <div layout="row" layout-align="center center" flex="initial">
                                            <ng-md-icon icon="polymer" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">Descripción</div>
                                    </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="polymer" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-repeat="item in Collection_Bien" ng-click="passBien('Bien', item)">
                                <div layout="row" layout-align="center center" flex="initial">
                                    <ng-md-icon icon="polymer" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                </div>
                                <div class="md-list-item-text" layout="column" style="padding-left:8px;">
                                    <h4>{{item.descripcion_bien}}</h4>
                                    <p>{{item.tipoTangintang}}</p>
                                </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="passBien('Bien', item)">
                                            <ng-md-icon icon="edit" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center">
                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item style="background:rgba(0,0,0,0.05)">
                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-2" flex="initial">TIPO DE CARGOS</span>
                                    </div>
                                    <div flex="nogrow">
                                    </div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <form name="cargoContent" layout="row" flex>
                                    <md-input-container flex>
                                        <label>Identificador del Cargo</label>
                                        <input ng-model="cargo.idCargo" type="text" required="">
                                        <span class="md-caption">Una vez creado este campo, no es editable </span>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Ingresa un Nuevo Tipo de Cargo</label>
                                        <input ng-model="cargo.descripcion_cargo" type="text" required="">
                                    </md-input-container>
                                    <div flex="nogrow">
                                        <md-button class="md-primary md-raised" ng-click="new('Cargo',cargo)" ng-disabled="cargoContent.$invalid" ng-show="!editCargo">Agregar</md-button>
                                        <md-button class="md-primary md-raised" ng-click="edit('Cargo',cargo)" ng-disabled="cargoContent.$invalid" ng-show="editCargo">Guardar</md-button>
                                        <md-button class="md-green md-raised" ng-click="cancelCargo()" ng-show="editCargo">Cancelar</md-button>
                                    </div>
                                </form>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-between center" flex>
                                    <div layout-align="center center" layout="row" flex="initial">
                                        <div layout="row" layout-align="center center" flex="initial">
                                            <ng-md-icon icon="polymer" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">Descripción</div>
                                    </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="polymer" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-repeat="item in Collection_Cargo" ng-click="passCargo('Cargo', item)">
                                <div layout="row" layout-align="center center" flex="initial">
                                    <ng-md-icon icon="polymer" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                </div>
                                <div class="md-list-item-text" layout="column" style="padding-left:8px;">
                                    <h4>{{item.idCargo}}</h4>
                                    <p>{{item.descripcion_cargo}}</p>
                                </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="passCargo('Cargo', item)">
                                            <ng-md-icon icon="edit" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">
                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item style="background:rgba(0,0,0,0.05)">
                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-2" flex="initial">TIPO DE UNIDADES</span>
                                    </div>
                                    <div flex="nogrow">
                                    </div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <form name="unidadContent" layout="row" flex>
                                    <md-input-container flex>
                                        <label>Ingresa un Nuevo Tipo de Unidad</label>
                                        <input ng-model="unidad.descripcion_unidad" type="text" required="">
                                    </md-input-container>
                                    <div flex="nogrow">
                                        <md-button class="md-primary md-raised" ng-click="new('Unidad',unidad)" ng-disabled="unidadContent.$invalid" ng-show="!editUnidad">Agregar</md-button>
                                        <md-button class="md-primary md-raised" ng-click="edit('Unidad',unidad)" ng-disabled="unidadContent.$invalid" ng-show="editUnidad">Guardar</md-button>
                                        <md-button class="md-green md-raised" ng-click="cancelUnidad()" ng-show="editUnidad">Cancelar</md-button>
                                    </div>
                                </form>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-between center" flex>
                                    <div layout-align="center center" layout="row" flex="initial">
                                        <div layout="row" layout-align="center center" flex="initial">
                                            <ng-md-icon icon="polymer" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">Descripción</div>
                                    </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="polymer" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-repeat="item in Collection_Unidad" ng-click="passUnidad('Unidad', item)">
                                <div layout="row" layout-align="center center" flex="initial">
                                    <ng-md-icon icon="polymer" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                </div>
                                <div class="md-list-item-text" layout="row" style="padding-left:8px;">
                                    <h4>{{item.idUnidad}}</h4>
                                    <p>{{item.descripcion_unidad}}</p>
                                </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="passUnidad('Unidad', item)">
                                            <ng-md-icon icon="edit" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab4-content" aria-labelledby="tab4" ng-switch-when="3" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">
                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item style="background:rgba(0,0,0,0.05)">
                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-2" flex="initial">TIPO DE AREAS</span>
                                    </div>
                                    <div flex="nogrow">
                                    </div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <form name="areaContent" layout="row" flex>
                                    <md-input-container flex>
                                        <label>Identificador del Area</label>
                                        <input ng-model="area.idArea" type="text" required="">
                                        <span class="md-caption">Una vez creado este campo, no es editable </span>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Ingresa un Nuevo Tipo de Area</label>
                                        <input ng-model="area.descripcion_area" type="text" required="">
                                    </md-input-container>
                                    <div flex="nogrow">
                                        <md-button class="md-primary md-raised" ng-click="new('Area',area)" ng-disabled="areaContent.$invalid" ng-show="!editArea">Agregar</md-button>
                                        <md-button class="md-primary md-raised" ng-click="edit('Area',area)" ng-disabled="areaContent.$invalid" ng-show="editArea">Guardar</md-button>
                                        <md-button class="md-green md-raised" ng-click="cancelArea()" ng-show="editArea">Cancelar</md-button>
                                    </div>
                                </form>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-between center" flex>
                                    <div layout-align="center center" layout="row" flex="initial">
                                        <div layout="row" layout-align="center center" flex="initial">
                                            <ng-md-icon icon="polymer" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">Descripción</div>
                                    </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="polymer" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-repeat="item in Collection_Area" ng-click="passArea('Area', item)">
                                <div layout="row" layout-align="center center" flex="initial">
                                    <ng-md-icon icon="polymer" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                </div>
                                <div class="md-list-item-text" layout="column" style="padding-left:8px;">
                                    <h4>{{item.idArea}}</h4>
                                    <p>{{item.descripcion_area}}</p>
                                </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="passArea('Area', item)">
                                            <ng-md-icon icon="edit" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </div>
            <div role="tabpanel" id="tab5-content" aria-labelledby="tab5" ng-switch-when="4" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item style="background:rgba(0,0,0,0.05)">
                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-2" flex="initial">TIPO DE AREAS</span>
                                    </div>
                                    <div flex="nogrow">
                                        <span></span>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <form name="areaContent" layout="row" flex>
                                    <md-input-container flex>
                                        <label>Ingresa un Nueva Area</label>
                                        <input ng-model="area" type="text" required="">
                                    </md-input-container>
                                    <div flex="nogrow">
                                        <md-button class="md-primary md-raised" ng-click="Save_Patrimonio(area)" ng-disabled="areaContent.$invalid">Agregar</md-button>
                                    </div>
                                </form>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-between center" flex>
                                    <div layout-align="center center" layout="row" flex="initial">
                                        <div layout="row" layout-align="center center" flex="initial">
                                            <ng-md-icon icon="polymer" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">ID</div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">Descripción</div>
                                    </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="polymer" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-repeat="item in Collection_Area">
                                <div layout="row" layout-align="space-between center" flex>
                                    <div layout-align="center center" layout="row" flex="initial">
                                        <div layout="row" layout-align="center center" flex="initial">
                                            <ng-md-icon icon="polymer" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">{{$index + 1}}</div>
                                        <span></span>
                                        <div layout="row" layout-align="center center" flex class="md-body-1">{{item.primer_apellido_personal}}</div>
                                    </div>
                                    <div layout-align="center center" flex="nogrow">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                            <ng-md-icon icon="clear" style="fill:#ff0000" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab6-content" aria-labelledby="tab6" ng-switch-when="5" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

            </div>
            <div role="tabpanel" id="tab7-content" aria-labelledby="tab7" ng-switch-when="6" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

            </div>
            <div role="tabpanel" id="tab8-content" aria-labelledby="tab8" ng-switch-when="7" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

            </div>
        </ng-switch>
    </ui-view>
</md-content>