<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="conformidadItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content" ng-disabled="editConformidad == 'Editar'">
            <div layout="row" layout-align="center center">
                <md-tooltip md-direction="bottom">Lista de Actas de Conformidad</md-tooltip>
                <ng-md-icon icon="network_check" md-colors="{'fill':'grey-600'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
            </div>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <span ng-init="editConformidad = 'nuevo'">{{editConformidad}}</span>
        </md-tab>
        <!--<md-tab id="tab3" aria-controls="tab3-content" ng-disabled="editConformidad == 'Editar'">
            <span>Activos</span>
        </md-tab>-->
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingConformidad"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="conformidadItem.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" pdf-save-content="conformidad">

                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-1" flex="initial">MIS ACTAS DE CONFORMIDAD DEL SERVICIO</span>
                                    </div>
                                    <div flex="nogrow">
                                        <md-button aria-label="primr" class="md-icon-button" pdf-save-button="conformidad" pdf-name="conformidad.pdf">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <input ng-model="searchConformidad" type="text" placeholder="Buscar Acta" required="" style="border:0px solid #757575; border-radius:6px;padding:7px;">
                                        <!--<md-input-container>
                                                <label>Buscar Acta</label>
                                                <input ng-model="searchClient" type="text" required="">
                                            </md-input-container>-->
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

                <md-card flex-gt-sm="95" ng-repeat="item in Collection_conformidad | filter:searchActa">
                    <md-card-content layout="column" flex>
                        <div layout="column" layout-margin>
                            <div layout="row" layout-align="space-between center">
                                <span flex="initial" class="md-title">Concepto: {{item.concepto}}</span>
                                <div layout="row" layout-align="space-around center" layout-xs="column" layout-sm="column" flex="nogrow">
                                    <span class="md-body-1">Estado {{item.estado}}</span>
                                    <span class="md-body-1" style="padding-left:7px;">Nro. Identificación: {{item.nro_identificacion}}</span>
                                    <md-menu md-offset="0 -5">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                            <ng-md-icon icon="more_vert" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <!--<md-menu-item>
                                                <md-button ng-click="Pass_Conformidad('activos', item, ev)"> <span md-menu-align-target>Activos</span></md-button>
                                            </md-menu-item>-->
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Conformidad('modify', item, ev)"> <span md-menu-align-target>Editar</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Conformidad('delete', item, ev)"> <span md-menu-align-target>Eliminar</span></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <span class="md-subhead"><strong>Servicio:</strong> {{item.descripcion_servicio}}</span>
                            <span class="md-caption"><strong>Nro. Doc. Referencia:</strong> {{item.nro_doc_ref}}</span>
                            <span class="md-caption"><strong>Nro. SO:</strong> {{item.nro_os}}</span>
                            <span class="md-caption"><strong>Nro. Contrato:</strong> {{item.nro_contrato}}</span>
                            <span class="md-caption"><strong>Fec. Conformidad:</strong> {{item.fecha_conformidad}}</span>
                        </div>
                        <div layout="row" flex>
                            <div layout="column" flex layout-margin>
                                <span class="md-subhead">PERSONAL DE ATENCIÓN</span>
                                <md-divider></md-divider>
                                <div flex>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Nombres:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.nombres_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Paterno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.primer_apellido_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Materno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.segundo_apellido_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">DNI:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.dni_personal}}</span>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" flex layout-margin>
                                <span class="md-subhead">PROVEEDOR</span>
                                <md-divider></md-divider>
                                <div flex>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Nombres:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.nombres_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">

                                        <span flex="initial" class="md-body-1">Ape. Paterno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.primer_apellido_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Materno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.segundo_apellido_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">RUC:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.ruc_proveedor}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Dirección:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.direccion_proveedor}}</span>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" flex layout-margin>
                                <span class="md-subhead">CLIENTE</span>
                                <md-divider></md-divider>
                                <div flex>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Nombres:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.nombres_cliente}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Paterno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.primer_apellido_cliente}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">Ape. Materno:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.segundo_apellido_cliente}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-1">DNI:</span>
                                        <span flex="nogrow" class="md-body-1">{{item.dni_cliente}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <md-list layout="column" flex="">
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <span flex class="md-caption">Descripción</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">Con. Conformidad</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">Reg. Conformidad</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">Monto Saldo</span>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-click="null">
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <span flex class="md-caption">{{item.descripcion_acta}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.monto_con_conformidad}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.monto_registro_conformidad}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.monto_saldo}}</span>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="miConformidad" layout="column" layout-align="center stretch">
                            <div layout="column">
                                <span class="md-body-1">DATOS DEL CLIENTE</span>
                                <md-divider></md-divider>
                                <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
                                    <div layout="row" layout-sm="column" layout-xs="column">
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>DNI</label>
                                            <input ng-model="acta.dni_cliente" type="text" ng-keyup="filterToClient(acta.dni_cliente)" required="">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Nombres</label>
                                            <input ng-model="acta.nombres_cliente" ng-value="filterToClient(acta.dni_cliente).nombres_cliente" type="text" required="">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Apellido Paterno</label>
                                            <input ng-model="acta.primer_apellido_cliente" ng-value="filterToClient(acta.dni_cliente).primer_apellido_cliente" type="text"
                                                required="">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Apellido Materno</label>
                                            <input ng-model="acta.segundo_apellido_cliente" ng-value="filterToClient(acta.dni_cliente).segundo_apellido_cliente" type="text"
                                                required="">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div layout="column">
                                <span class="md-body-1">CONFORMIDAD</span>
                                <md-divider></md-divider>
                                <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Concepto</label>
                                        <input ng-model="acta.concepto" type="text" required="">
                                    </md-input-container>
                                    <div layout="row" layout-sm="column" layout-xs="column" layout-align="none center">
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Nro. Documento de Referencia</label>
                                            <input ng-model="acta.nro_doc_ref" type="text" required="">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Nro. Contrato</label>
                                            <input ng-model="acta.nro_contrato" type="text" required="">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Nro. OS</label>
                                            <input ng-model="acta.nro_os" type="text" required="">
                                        </md-input-container>
                                        <md-datepicker ng-model="acta.fecha_conformidad" required="" md-placeholder="Fecha de Conformidad" md-open-on-focus></md-datepicker>
                                    </div>
                                    <div layout="row" layout-sm="column" layout-xs="column">
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>DNI del Cliente</label>
                                            <input ng-model="acta.dni_cliente"  type="text" required="" ng-disabled="true">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Proveedor</label>
                                            <md-select ng-model="acta.idProveedor" required="">
                                                <md-option ng-repeat="type in proveedores" class="md-2-line contact-item" value="{{type.idProveedor}}">
                                                    <span>{{type.nombres_proveedor}} {{type.primer_apellido_proveedor}} {{type.segundo_apellido_proveedor}} ({{type.ruc_proveedor}})</span>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <div layout="row" layout-sm="column" layout-xs="column"  layout-align="center center">
                                            <md-checkbox ng-model="acta.estado"  required="" ng-click="check = !check">Estado {{ item }}</md-checkbox>
                                        </div>
                                    </div>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Descripcion</label>
                                        <input ng-model="acta.descripcion_acta" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Servicio</label>
                                        <input ng-model="acta.descripcion_servicio" type="text" required="">
                                    </md-input-container>
                                    <div layout="row" layout-sm="column" layout-xs="column">
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Reg. de Conformidad</label>
                                            <input ng-model="acta.monto_registro_conformidad" type="text" required="">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Monto de Conformidad</label>
                                            <input ng-model="acta.monto_con_conformidad" type="text" required="">
                                        </md-input-container>
                                        <md-input-container flex flex-sm="100" flex-xs="100">
                                            <label>Saldo</label>
                                            <input ng-model="acta.monto_saldo" type="text" required="">
                                        </md-input-container>
                                    </div>

                                </div>
                            </div>
                            <!--<div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Area</label>
                                        <md-select ng-model="pedido.idArea" required>
                                            <md-option ng-repeat="type in AreasList" value="{{type.idArea}}">
                                                {{type.descripcion_area}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-datepicker ng-model="pedido.fecha" required="" md-placeholder="Fecha" md-open-on-focus></md-datepicker>
                                </div>
                            </div>-->
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editConformidad == 'Editar'" ng-click="cancerToEditConformidad()">Salir</md-button>
                                    <span class="md-caption" ng-show="editConformidad != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <md-button class="md-primary md-raised" ng-show="editConformidad == 'Editar'" ng-click="Update_Acta(acta)" ng-disabled="miConformidad.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editConformidad != 'Editar'" ng-click="Save_Acta(acta)" ng-disabled="miConformidad.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">
                <md-card flex-gt-sm="95" ng-show="detailsPatri">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">
                                <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                    <div flex="initial">
                                        <span class="md-title">{{patrimoniodata.nombre | uppercase}}</span>
                                    </div>
                                    <div layout="row" flex="nogrow">
                                        <md-button class="md-icon-button" aria-label="delete project" ng-click="">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <md-button class="md-icon-button" aria-label="delete project" ng-click="detailsPatri = !detailsPatri">
                                            <ng-md-icon icon="keyboard_arrow_down" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Maximizar</md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
                <md-card ng-show="!detailsPatri" flex-gt-sm="90" flex-gt-md="80" layout="row" layout-sm="column" layout-xs="column" flex
                    layout-padding layout-margin>
                    <div flex="initial" class="md-media-xl card-media" style="background-image: url(images/icons/{{patrimoniodata.image || 'analytics-1.svg'}});
				                    background-position: center center; background-repeat: no-repeat; background-size: auto auto;">
                        <div layout="row" layout-align="center center" style="height: inherit;" ng-mouseover="info={'opacity':1, 'background-color':'rgba(255,255,255,0.5)', 'transition':'all 1s'}"
                            ng-mouseleave="info={'opacity':0, 'background-color':'rgba(255,255,255,0.5)', 'transition':'all 1s'}"
                            ng-style="info" ng-init="info={'opacity':0}">
                            <div layout="column" style="color:rgba(0,0,0,.9);">
                                <span class="md-title">Ingreso: <span class="md-body-1">{{patrimoniodata.fecha_ingreso}}</span></span>
                                <span class="md-title">Comprar: <span class="md-body-1">{{patrimoniodata.fecha_compra}}</span></span>
                                <span class="md-title">Caducidad: <span class="md-body-1">{{patrimoniodata.fecha_caducidad}}</span></span>
                            </div>
                        </div>
                    </div>
                    <md-card-content flex="auto" layout="row" layout-xs="column" layout-sm="column" layout-margin>
                        <md-card-title layout="column" flex="initial">
                            <md-card-title-text>
                                <span class="md-title">{{patrimoniodata.nombre | uppercase}}</span>
                                <span class="md-subhead">Tipo de Patrimonio: {{patrimoniodata.tipo_patrimonio | uppercase}}</span>
                                <span class="md-body-1">Factor de Riesgo: {{patrimoniodata.factorRiesgo}}</span>
                                <span class="md-body-1">Vulnerabilidad: {{patrimoniodata.vulneravilidad}}</span>
                                <span class="md-caption">Registro: {{patrimoniodata.dni_personal}}</span>
                                <span class="md-caption">F. Ingreso: <span class="md-caption">{{patrimoniodata.fecha_ingreso}}</span></span>
                                <span class="md-caption">F. Compra: <span class="md-caption">{{patrimoniodata.fecha_compra}}</span></span>
                                <span class="md-caption">F. Caducidad: <span class="md-caption">{{patrimoniodata.fecha_caducidad}}</span></span>
                            </md-card-title-text>
                        </md-card-title>
                        <div layout="column">
                            <p>{{patrimoniodata.descripcion_patrimonio}}</p>
                        </div>
                    </md-card-content>
                    <md-card-options flex="nogrow" layout="column" hide-xs>
                        <md-button class="md-icon-button" aria-label="delete project" ng-click="detailsPatri = !detailsPatri">
                            <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="right">minimizar</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="delete project" ng-click="">
                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="right">Imprimir</md-tooltip>
                        </md-button>
                    </md-card-options>
                </md-card>

                <md-card ng-repeat="item in Collection_Activos_Seleccion" flex-gt-sm="90" flex-gt-md="80" layout="row" layout-sm="column"
                    layout-xs="column" flex>
                    <md-card-content flex="auto" layout="row" layout-xs="column" layout-sm="column">
                        <md-card-title layout="column" flex="50" flex-sm="100" flex-xs="100">
                            <md-card-title-text>
                                <span class="md-subhead">Caracteristicas: {{item.caracteristicas}}</span>
                                <span class="md-body-1">Categoria: {{item.categoria}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-title layout="column" flex>
                            <md-card-title-text>
                                <span class="md-caption">Registro: {{item.dni_personal}}</span>
                                <span class="md-caption">{{item.prioridad}}</span>
                                <span class="md-caption">{{item.tipo_activo}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-title layout="column" flex>
                            <md-card-title-text>
                                <span class="md-caption">F. Ingreso: <span class="md-caption">{{item.fecha_ingreso}}</span></span>
                                <span class="md-caption">F. Compra: <span class="md-caption">{{item.fecha_compra}}</span></span>
                            </md-card-title-text>
                        </md-card-title>
                        <div layout="column" flex="auto">
                        </div>
                    </md-card-content>
                    <md-card-options flex="nogrow" layout="column" hide-xs>
                        <!--<md-button class="md-icon-button" aria-label="delete project" ng-click="detailsPatri = !detailsPatri">
                            <ng-md-icon icon="clear" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="bottom">Editar</md-tooltip>
                        </md-button>-->
                        <md-button class="md-icon-button" aria-label="delete project" ng-click="">
                            <ng-md-icon icon="clear" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="bottom">Eliminar</md-tooltip>
                        </md-button>
                    </md-card-options>
                </md-card>
                <!--<md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>-->
            </div>
        </ng-switch>
    </ui-view>
</md-content>
<!-- <md-content class="" layout="column" md-scroll-y style="top:50px;">
</md-content> -->