<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="mantenimientoItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content" ng-disabled="editMantenimiento == 'Editar' || editIncidencias == 'Editar'">
            <div layout="row" layout-align="center center">
                <md-tooltip md-direction="bottom">Lista de Proveedores</md-tooltip>
                <ng-md-icon icon="attach_file" md-colors="{'fill':'grey-600'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
            </div>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <span ng-init="editMantenimiento = 'nuevo'">{{editMantenimiento}}</span>
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content" ng-disabled="!viewIncedencias || editMantenimiento == 'Editar' || editIncidencias == 'Editar'">
            <span>INCIDENCIAS</span>
        </md-tab>
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingMantenimiento"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="mantenimientoItem.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center" pdf-save-content="mantenimiento">

                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-1" flex="initial">MIS MANTENIMIENTOS</span>
                                    </div>
                                    <div flex="nogrow">
                                        <md-button aria-label="primr" class="md-icon-button" pdf-save-button="mantenimiento" pdf-name="mantenimiento.pdf">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <input ng-model="searchMantenimiento" type="text" placeholder="Buscar Mantenimiento" required="" style="border:0px solid #757575; border-radius:6px;padding:7px;">
                                        <!--<md-input-container>
                                                <label>Buscar Cliente</label>
                                                <input ng-model="searchClient" type="text" required="">
                                            </md-input-container>-->
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="build" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Servicio</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Nombres</div>
                                    <!--<div layout="row" layout-align="center center" flex class="md-body-1">DNI</div>-->
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Area</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Responsable</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Estado</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Fecha</div>

                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="more_vert" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                    <!--<div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs>dni_personal</div>-->
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-repeat="item in Collection_mantenimiento | filter:searchMantenimiento" ng-click="Pass_Mantenimiento('historial',item, ev)">
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="build" md-colors="{'fill':'ambar-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.servicio}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.primer_apellido_personal}}{{item.segundo_apellido_personal}}{{item.nombres_personal}}</div>
                                    <!--<div layout="row" layout-align="center center" flex class="md-body-1">{{item.dni_personal}}</div>-->
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.Area}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.responsable}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.estado}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.fecha}}</div>
                                    <md-menu md-offset="0 -5">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                            <ng-md-icon icon="more_vert" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Mantenimiento('incidente', item, ev)"> <span md-menu-align-target>Agregar Incidente</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Mantenimiento('modify', item, ev)"> <span md-menu-align-target>Editar</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Mantenimiento('delete', item, ev)"> <span md-menu-align-target>Eliminar</span></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column">


                <md-card ng-show="!seeIncidente" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="miMantenimiento" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>

                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editMantenimiento | uppercase}} MANTENIMIENTO</span>
                                        </div>
                                        <div flex="nogrow">
                                        </div>
                                    </div>
                                </div>

                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Servicio</label>
                                    <input ng-model="mantenimiento.servicio" type="text" required="">
                                </md-input-container>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Descripción del mantenimiento</label>
                                    <input ng-model="mantenimiento.descripcion_mantenimiento" type="text" required="">
                                </md-input-container>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Recomendaciones</label>
                                    <input ng-model="mantenimiento.recomendaciones" type="text" required="">
                                </md-input-container>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Area</label>
                                        <md-select ng-model="mantenimiento.idArea" required>
                                            <md-option ng-repeat="type in listArea" value="{{type.idArea}}">
                                                {{type.descripcion_area}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Personal que atiende</label>
                                        <md-select ng-model="mantenimiento.dni_personal" required>
                                            <md-option ng-repeat="type in listPersonal" class="md-2-line contact-item" value="{{type.dni_personal}}">
                                                <span>{{type.nombres_personal}} {{type.primer_apellido_personal}} {{type.segundo_apellido_personal}} ({{type.dni_personal}})</span>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column" layout="center">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Responsable</label>
                                        <input ng-model="mantenimiento.responsable" type="text" required="">
                                    </md-input-container>
                                    <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Estado</label>
                                        <md-select ng-model="mantenimiento.estado" required>
                                            <md-option ng-repeat="type in [{title:'Realizado', item:1},{title:'No Realizado', item:0}]"  value="{{type.item}}">
                                                {{type.title}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                        <!--<md-checkbox ng-model="mantenimiento.estado" ng-checked="check" ng-click="check = !check" required="">Estado {{ item }}</md-checkbox>-->
                                        <md-datepicker ng-model="mantenimiento.fecha" required="" md-placeholder="Fecha de Ingreso" md-open-on-focus></md-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editMantenimiento == 'Editar'" ng-click="cancerToEditMantenimiento()">Salir</md-button>
                                    <span class="md-caption" ng-show="editMantenimiento != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <md-button class="md-primary md-raised" ng-show="editMantenimiento == 'Editar'" ng-click="Update_Mantenimiento(mantenimiento)"
                                        ng-disabled="miMantenimiento.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editMantenimiento != 'Editar'" ng-click="Save_Mantenimiento(mantenimiento)"
                                        ng-disabled="miMantenimiento.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


                <md-card ng-show="seeIncidente" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="misIncidencias" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editMantenimiento | uppercase}} INCIDENCIA</span>
                                        </div>
                                        <div flex="nogrow">

                                        </div>
                                    </div>
                                </div>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>ID Matenimiento</label>
                                    <input ng-model="incidencias.idMantenimiento" type="text" required="" ng-disabled="true">
                                </md-input-container>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Nombre de Incidente</label>
                                    <input ng-model="incidencias.nombre_incidente" type="text" required="">
                                </md-input-container>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Descripción del incidencias</label>
                                    <input ng-model="incidencias.descripcion_incidente" type="text" required="">
                                </md-input-container>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Causa</label>
                                    <input ng-model="incidencias.causa" type="text" required="">
                                </md-input-container>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Ocurrencias</label>
                                    <input ng-model="incidencias.ocurrencias" type="number" required="">
                                </md-input-container>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Soluciones</label>
                                    <input ng-model="incidencias.soluciones" type="text" required="">
                                </md-input-container>
                                <div>
                                    <md-datepicker ng-model="incidencias.fecha_registro" required="" md-placeholder="Fecha de Registro" md-open-on-focus></md-datepicker>
                                    <md-datepicker ng-model="incidencias.fecha_solucion" required="" md-placeholder="Fecha de Solucion" md-open-on-focus></md-datepicker>
                                </div>
                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editIncidencias == 'Editar'" ng-click="cancerToEditIncidencias()">Salir</md-button>
                                    <span class="md-caption" ng-show="editIncidencias != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <!--<md-button class="md-primary md-raised" ng-show="editIncidencias == 'Editar'" ng-click="Update_Incidencias(incidencias)"
                                        ng-disabled="misIncidencias.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editIncidencias != 'Editar'" ng-click="Save_Incidencias(incidencias)" ng-disabled="misIncidencias.$invalid">Salvar</md-button>-->
                                    <md-button class="md-primary md-raised" ng-click="Save_Incidencias(incidencias)" ng-disabled="misIncidencias.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

                <md-card flex-gt-sm="95">
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">MANTENIMIENTO</span>
                                </div>
                                <div flex="nogrow">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="null">
                                        <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Servicio: {{detailsMatenimiento.servicio}}</span>
                            <span class="md-subhead">Responsable: {{detailsMatenimiento.responsable}}</span>
                            <span class="md-caption">Fecha: {{detailsMatenimiento.fecha}}</span>
                            <span class="md-caption">DNI: {{detailsMatenimiento.dni_personal}}</span>
                            <span class="md-caption">Recomendación: {{detailsMatenimiento.recomendaciones}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <!--<img src="images/icons/user.svg" alt="user">-->
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">INCIDENCIAS TECNICAS</span>
                                </div>
                                <div layout="row" flex="nogrow" layout-xs="column">
                                    <div layout="row" layout-align="center center">
                                        <span class="md-caption" style="padding-right:15px;">{{detailsMatenimiento.historial.length}}</span>
                                        <ng-md-icon icon="description" style="fill:#757575;" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                    <input ng-model="searchIncidencias" type="text" placeholder="Buscar Espediente" required="" style="border:0px solid #757575; border-radius:6px;padding:7px; margin-left:15px;">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <div layout="row" layout-align="center center" flex>
                                <div layout="row" layout-align="center center" flex="initial">
                                    <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                </div>
                                <span layout="row" layout-align="center center" flex class="md-caption">Nombre</span>
                                <span layout="row" layout-align="center center" flex class="md-caption">Descripción</span>
                                <span layout="row" layout-align="center center" flex class="md-caption">Causa</span>
                                <span layout="row" layout-align="center center" flex class="md-caption">Ocurrencias</span>
                                <span layout="row" layout-align="center center" flex class="md-caption">Soluciones</span>
                                <span layout="row" layout-align="center center" flex class="md-caption">Fech. Registro</span>
                                <span layout="row" layout-align="center center" flex class="md-caption">Fech. Solución</span>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>

                    </md-list>
                </md-card>
                <md-card flex-gt-sm="95">
                    <md-card-content layout="column" flex>
                        <md-list layout="column" flex="">
                            <md-divider></md-divider>
                            <md-list-item ng-repeat="item in detailsMatenimiento.historial | filter:searchIncidencias">
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.nombre_incidente}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.descripcion_incidente}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.causa}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.ocurrencias}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.soluciones}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.fecha_registro}}</span>
                                    <span layout="row" layout-align="center center" flex class="md-caption">{{item.fecha_solucion}}</span>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>


            </div>
        </ng-switch>
    </ui-view>
</md-content>
<!-- <md-content class="" layout="column" md-scroll-y style="top:50px;">
</md-content> -->