<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="patrimonioItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content" ng-disabled="editPatrimonio == 'Editar' || editActivo == 'Editar'">
            <div layout="row" layout-align="center center">
                <md-tooltip md-direction="bottom">Lista de Proveedores</md-tooltip>
                <ng-md-icon icon="account_balance" md-colors="{'fill':'grey-600'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
            </div>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <span ng-init="editPatrimonio = 'nuevo'">{{editPatrimonio}}</span>
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content" ng-disabled="!viewIncedencias || editPatrimonio == 'Editar' || editActivo == 'Editar'">
            <span>ACTIVOS</span>
        </md-tab>
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingPatrimonio"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="patrimonioItem.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center" pdf-save-content="patrimonio">

                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-1" flex="initial">MIS PATTRIMONIOS</span>
                                    </div>
                                    <div flex="nogrow">
                                        <md-button aria-label="primr" class="md-icon-button" pdf-save-button="patrimonio" pdf-name="patrimonio.pdf">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <input ng-model="searchPatrimonio" type="text" placeholder="Buscar Patrimonio" required="" style="border:0px solid #757575; border-radius:6px;padding:7px;">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="account_balance" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Registrado Por</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Tipo</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Prioridad</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Factor de Riesgo</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Nivel de Vulnerabilidad</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Fecha</div>

                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="more_vert" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-repeat="item in Collection_patrimonio" ng-click="Pass_Patrimonio('historial',item, ev)">
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="account_balance" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.primer_apellido_personal}} {{item.segundo_apellido_personal}} {{item.nombres_personal}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.tipo_patrimonio}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.prioridad}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.factorRiesgo}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.vulneravilidad}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.fecha_ingreso | date:'medium'}}</div>
                                    <md-menu md-offset="0 -5">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                            <ng-md-icon icon="more_vert" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Patrimonio('activos', item, ev)"> <span md-menu-align-target>Añadir Activo</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Patrimonio('modify', item, ev)"> <span md-menu-align-target>Editar</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Patrimonio('delete', item, ev)"> <span md-menu-align-target>Eliminar</span></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column">


                <md-card ng-show="!seeActivo" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="miPatrimonio" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>

                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editPatrimonio | uppercase}} PATTRIMONIO</span>
                                        </div>
                                        <div flex="nogrow">
                                        </div>
                                    </div>
                                </div>


                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Nombre del Patrimonio</label>
                                        <input ng-model="patrimonio.nombre_patrimonio" type="text" required="">
                                    </md-input-container>

                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Tipo de Patrimonio</label>
                                         <input ng-model="patrimonio.tipo_patrimonio" type="text" required="">
                                    </md-input-container>
                                    <!--<md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Tipo de Patrimonio</label>
                                        <md-select ng-model="patrimonio.tipo_patrimonio" required>
                                            <md-option ng-repeat="type in ['tipo a','tipo b']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>-->
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Prioridad</label>
                                        <md-select ng-model="patrimonio.prioridad" required>
                                            <md-option ng-repeat="type in ['Normal','medio', 'Alto']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Factor de Riesgo</label>
                                        <md-select ng-model="patrimonio.factorRiesgo" required>
                                            <md-option ng-repeat="type in ['Normal','medio', 'Alto']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Nivel de Vulnerabilidad</label>
                                        <md-select ng-model="patrimonio.vulneravilidad" required>
                                            <md-option ng-repeat="type in ['Normal','medio', 'Alto']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Cat. Patrimonio</label>
                                        <md-select ng-model="patrimonio.catPatrimonio" required>
                                            <md-option ng-repeat="type in ['catPatrimonio 1 ','catPatrimonio 2', 'catPatrimonio 3']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between center">
                                    <md-datepicker ng-model="patrimonio.fecha_ingreso" required="" md-placeholder="Fecha de Ingreso" md-open-on-focus></md-datepicker>
                                    <md-datepicker ng-model="patrimonio.fecha_compra" md-placeholder="Fecha de Compra" md-open-on-focus></md-datepicker>
                                    <md-datepicker ng-model="patrimonio.fecha_caducidad" md-placeholder="Fecha de Caducidad" md-open-on-focus></md-datepicker>
                                </div>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Descripcion</label>
                                    <textarea ng-model="patrimonio.descripcion_patrimonio" md-maxlength="500" rows="3" required="" md-select-on-focus></textarea>
                                </md-input-container>

                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editPatrimonio == 'Editar'" ng-click="cancerToEditPatrimonio()">Salir</md-button>
                                    <span class="md-caption" ng-show="editPatrimonio != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <md-button class="md-primary md-raised" ng-show="editPatrimonio == 'Editar'" ng-click="Update_Patrimonio(patrimonio)" ng-disabled="miPatrimonio.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editPatrimonio != 'Editar'" ng-click="Save_Patrimonio(patrimonio)" ng-disabled="miPatrimonio.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


                <md-card ng-show="seeActivo" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="misActivos" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>


                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editPatrimonio | uppercase}} ACTIVO</span>
                                        </div>
                                        <div flex="nogrow">

                                        </div>
                                    </div>
                                </div>
                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Caracteristicas</label>
                                    <input ng-model="activo.caracteristicas" type="text" required="">
                                </md-input-container>
                                <div layout="row">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>ID Patrimonio</label>
                                        <input ng-model="activo.idPatrimonio" type="text" required="" ng-disabled="true">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Prioridad</label>
                                        <md-select ng-model="activo.prioridad" required>
                                            <md-option ng-repeat="type in ['Normal','medio', 'Alto']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Categoria</label>
                                        <md-select ng-model="activo.categoria" required>
                                            <md-option ng-repeat="type in ['Normal','medio', 'Alto']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Tipo de Activo</label>
                                        <md-select ng-model="activo.tipo_activo" required>
                                            <md-option ng-repeat="type in ['fisico']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-datepicker ng-model="activo.fecha_ingreso" required="" md-placeholder="Fecha de Ingreso" md-open-on-focus></md-datepicker>
                                    <md-datepicker ng-model="activo.fecha_compra" required="" md-placeholder="Fecha de Compra" md-open-on-focus></md-datepicker>
                                </div>

                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editActivo == 'Editar'" ng-click="cancerToEditActivo()">Salir</md-button>
                                    <span class="md-caption" ng-show="editActivo != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <!--<md-button class="md-primary md-raised" ng-show="editActivo == 'Editar'" ng-click="Update_Incidencias(incidencias)"
                                        ng-disabled="misActivos.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editActivo != 'Editar'" ng-click="Save_Incidencias(incidencias)" ng-disabled="misActivos.$invalid">Salvar</md-button>-->
                                    <md-button class="md-primary md-raised" ng-click="Save_Activo(activo)" ng-disabled="misActivos.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

                <md-card flex-gt-sm="95">
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">PATRIMONIO</span>
                                </div>
                                <div flex="nogrow">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="null">
                                        <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-card-content>
                        <div layout="column" flex>
                            <span class="md-headline">Patrimonio: {{detailsPatrimonio.nombre_patrimonio}}</span>
                            <span class="md-subhead">Tipo: {{detailsPatrimonio.tipo_patrimonio}}</span>
                            <div layout="row" flex layout-margin layout-padding>
                                <div layout="column" flex>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Prioridad: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.prioridad}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Cat. Patrimonio: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.catPatrimonio}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Factor de Riesgo: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.factorRiesgo}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Vulnerabilidad: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.vulneravilidad}}</span>
                                    </div>
                                </div>
                                <div layout="column" flex>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Personal: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.nombres_personal}} {{detailsPatrimonio.primer_apellido_personal}} {{detailsPatrimonio.segundo_apellido_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">DNI: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.dni_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Fecha de Compra: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.fecha_compra}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Fecha de Ingreso: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.fecha_ingreso}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <span flex="initial" class="md-body-2">Fecha de Caducidad: </span>
                                        <span flex="nogrow" class="md-caption">{{detailsPatrimonio.fecha_caducidad}}</span>

                                    </div>

                                </div>
                            </div>
                            <span class="md-caption">Descripcion: {{detailsPatrimonio.descripcion_patrimonio}}</span>
                        </div>
                    </md-card-content>
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">LISTA DE ACTIVOS</span>
                                </div>
                                <div layout="row" flex="nogrow" layout-xs="column">
                                    <div layout="row" layout-align="center center">
                                        <span class="md-caption" style="padding-right:15px;">{{detailsPatrimonio.historial.length}}</span>
                                        <ng-md-icon icon="description" style="fill:#757575;" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                    <input ng-model="searchActivo" type="text" placeholder="Buscar Espediente" required="" style="border:0px solid #757575; border-radius:6px;padding:7px; margin-left:15px;">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list layout="column" flex="">
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Caracteristicas</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Categoría</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Prioridad</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Tipo de Activo</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Fech. Ingreso</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Fech. Compra</div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>

                        </md-list>
                </md-card>
                <md-card flex-gt-sm="95">
                    <md-card-content layout="column" flex>
                        <md-list layout="column" flex="">
                            <md-list-item ng-repeat="item in detailsPatrimonio.historial | filter:searchActivo">
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.caracteristicas}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.categoria}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.prioridad}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.tipo_activo}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.fecha_ingreso}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.fecha_compra}}</div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </div>
        </ng-switch>
    </ui-view>
</md-content>
<!-- <md-content class="" layout="column" md-scroll-y style="top:50px;">
</md-content> -->