<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="personalItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content" ng-disabled="editPersonal == 'Editar' || editCuenta == 'Editar'">
            <div layout="row" layout-align="center center">
                <md-tooltip md-direction="bottom">Lista de Proveedores</md-tooltip>
                <ng-md-icon icon="group" md-colors="{'fill':'grey-600'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
            </div>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <span ng-init="editPersonal = 'nuevo'">{{editPersonal}}</span>
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content" ng-click="myAccounts()" ng-disabled=" editPersonal == 'Editar' || editCuenta == 'Editar'">
            <span>CUENTAS</span>
        </md-tab>
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingPersonal"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="personalItem.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center" pdf-save-content="personal">

                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-1" flex="initial">MI PERSONAL</span>
                                    </div>
                                    <div flex="nogrow">
                                        <md-button aria-label="primr" class="md-icon-button" pdf-save-button="personal" pdf-name="personal.pdf">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <input ng-model="searchPersonal" type="text" placeholder="Buscar Personal" required="" style="border:0px solid #757575; border-radius:6px;padding:7px;">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="account_circle" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Nombres</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">DNI</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Cargo</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Area</div>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="more_vert" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="more_vert" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-repeat="item in Collection_personal | filter:searchPersonal" ng-click="Pass_Personal('historial',item, ev)">
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="account_circle" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.primer_apellido_personal}} {{item.segundo_apellido_personal}} {{item.nombres_personal}}
                                        <strong style="padding-left:7px; color:#ff0390" ng-if="item.dni_personal == currentUser.id">(YO)</strong></div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.dni_personal}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.descripcion_cargo}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.descripcion_area}}</div>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" >
                                        <ng-md-icon  ng-show="item.account" icon="done" style="fill:#9ccc65" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        <ng-md-icon  ng-show="!item.account" icon="do_not_disturb_alt" style="fill:#ff4456" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                    <md-menu md-offset="0 -5">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                            <ng-md-icon icon="more_vert" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Ver Más</md-tooltip>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item ng-if="!item.account">
                                                <md-button ng-click="Pass_Personal('cuenta', item, ev)"> <span md-menu-align-target >Agregar Cuenta</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Personal('modify', item, ev)"> <span md-menu-align-target>Editar Usuario</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Personal('delete', item, ev)" ng-disabled="!item.account || item.dni_personal == currentUser.id" > <span md-menu-align-target>Eliminar Cuenta</span></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column">


                <md-card ng-show="!seeCuenta" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="miPersonal" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>

                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editPersonal | uppercase}} PERSONAL</span>
                                        </div>
                                        <div flex="nogrow">
                                        </div>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Nombre</label>
                                        <input ng-model="personal.nombres_personal" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Apellido Paterno</label>
                                        <input ng-model="personal.primer_apellido_personal" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Apellido Materno</label>
                                        <input ng-model="personal.segundo_apellido_personal" type="text" required="">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>DNI</label>
                                        <input ng-model="personal.dni_personal" type="text" required="" ng-disabled="editPersonal == 'Editar'">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Cargo</label>
                                        <md-select ng-model="personal.idCargo" required>
                                            <md-option ng-repeat="type in listCargo" value="{{type.idCargo}}">
                                                {{type.descripcion_cargo}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Area</label>
                                        <md-select ng-model="personal.idArea" required>
                                            <md-option ng-repeat="type in listArea" class="md-2-line contact-item" value="{{type.idArea}}">
                                                {{type.descripcion_area}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editPersonal == 'Editar'" ng-click="cancerToEditPersonal()">Salir</md-button>
                                    <span class="md-caption" ng-show="editPersonal != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <md-button class="md-primary md-raised" ng-show="editPersonal == 'Editar'" ng-click="Update_Personal(personal)" ng-disabled="miPersonal.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editPersonal != 'Editar'" ng-click="Save_Personal(personal)" ng-disabled="miPersonal.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


                <md-card ng-show="seeCuenta" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="misCuentas" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editPersonal | uppercase}} CUENTA</span>
                                        </div>
                                        <div flex="nogrow">

                                        </div>
                                    </div>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Usuario o Email</label>
                                        <input ng-model="cuenta.user_name" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Password</label>
                                        <input ng-model="cuenta.user_password" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Tipo de Usuario</label>
                                        <md-select ng-model="cuenta.user_type" required>
                                            <md-option ng-repeat="type in ['Administrador', 'Invitado']" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>DNI</label>
                                        <input ng-model="cuenta.dni_personal" type="text" required="" disabled="">
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editCuenta == 'Editar'" ng-click="cancerToEditCuenta()">Salir</md-button>
                                    <span class="md-caption" ng-show="editCuenta != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <!--<md-button class="md-primary md-raised" ng-show="editCuenta == 'Editar'" ng-click="Update_Incidencias(incidencias)"
                                        ng-disabled="misCuentas.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editCuenta != 'Editar'" ng-click="Save_Incidencias(incidencias)" ng-disabled="misCuentas.$invalid">Salvar</md-button>-->
                                    <md-button class="md-primary md-raised" ng-click="Save_Cuenta(cuenta)" ng-disabled="misCuentas.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

                <md-card ng-show="AllAccounts" flex-gt-sm="95">
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">CUENTA DEL PERSONAL</span>
                                </div>
                                <div flex="nogrow">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="null">
                                        <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-card-content>
                        <div layout="row" flex>
                            <div layout="column" layout-margin flex>
                                <div layout="column">
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Nombre:</strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.nombres_personal}}  <strong style="padding-left:7px; color:#ff0390" ng-if="detailsPersonal.dni_personal == currentUser.id" >(YO)</strong></span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Ape. Paterno: </strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.primer_apellido_personal}} </span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Ape. Materno: </strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.segundo_apellido_personal}} </span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">DNI: </strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.dni_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Cargo: </strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.descripcion_cargo}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Area: </strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.descripcion_area}}</span>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" layout-margin flex>
                                <div layout="column" ng-show="detailsPersonal.account.length > 0">
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">User:</strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.account[0].user_name}}</span>
                                    </div>
                                    <!--<div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Password:</strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.account[0].user_password}}</span>
                                    </div>-->
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Tipo:</strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.account[0].user_type}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Última Sesión:</strong>
                                        <span flex="nogrow" class="md-body-1">{{detailsPersonal.account[0].fechaCaduca}}</span>
                                    </div>

                                </div>
                                <div layout="column" ng-show="detailsPersonal.account.length < 1">
                                    <div layout="column" ng-show="!accountPart" layout-align="center center">
                                        <span class="md-caption">Este usuario no tiene una cuenta !!!</span>
                                        <!--<md-button class="md-primary md-raised" ng-click="accountPart = !accountPart" >CREAR CUENTA</md-button>-->
                                    </div>
                                    <!--<form ng-show="accountPart" name="misCuentaspart" layout="column" layout-align="center stretch">
                                        <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
                                            <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                                <div layout="row" layout-align="space-between center" flex>
                                                    <div flex="initial">
                                                        <span class="md-body-1" flex="initial">CREAR CUENTA</span>
                                                    </div>
                                                    <div flex="nogrow">

                                                    </div>
                                                </div>
                                            </div>
                                            <div layout="row" layout-sm="column" layout-xs="column">
                                                <md-input-container flex flex-sm="100" flex-xs="100">
                                                    <label>Usuario o Email</label>
                                                    <input ng-model="cuentaPart.name_user" type="text" required="">
                                                </md-input-container>
                                                <md-input-container flex flex-sm="100" flex-xs="100">
                                                    <label>Password</label>
                                                    <input ng-model="cuentaPart.user_password" type="text" required="">
                                                </md-input-container>
                                                <md-input-container flex flex-sm="100" flex-xs="100">
                                                    <label>Tipo de Usuario</label>
                                                    <md-select ng-model="cuentaPart.user_type" required>
                                                        <md-option ng-repeat="type in ['Administrador', 'Invitado']" value="{{type}}">
                                                            {{type}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                            <div flex="initial">
                                            </div>
                                            <div flex="nogrow">
                                                <md-button class="md-primary md-raised" ng-click="Save_Cuenta(cuentaPart)" ng-disabled="misCuentaspart.$invalid">Salvar</md-button>
                                            </div>
                                        </div>
                                    </form>-->
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
                
                <md-card ng-show="!AllAccounts"  flex-gt-sm="95" ng-repeat="item in detailsPersonal">
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">CUENTA DEL PERSONAL</span>
                                </div>
                                <div flex="nogrow">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="null">
                                        <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-card-content>
                        <div layout="row" flex>
                            <div layout="column" layout-margin flex>
                                <div layout="column">
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Nombre:</strong>
                                        <span flex="nogrow" class="md-body-1">{{item.nombres_personal}}  <strong style="padding-left:7px; color:#ff0390" ng-if="item.dni_personal == currentUser.id" >(YO)</strong></span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Ape. Paterno: </strong>
                                        <span flex="nogrow" class="md-body-1">{{item.primer_apellido_personal}} </span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Ape. Materno: </strong>
                                        <span flex="nogrow" class="md-body-1">{{item.segundo_apellido_personal}} </span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">DNI: </strong>
                                        <span flex="nogrow" class="md-body-1">{{item.dni_personal}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Cargo: </strong>
                                        <span flex="nogrow" class="md-body-1">{{item.descripcion_cargo}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Area: </strong>
                                        <span flex="nogrow" class="md-body-1">{{item.descripcion_area}}</span>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" layout-margin flex>
                                <div layout="column" ng-show="detailsPersonal.length > 0">
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">User:</strong>
                                        <span flex="nogrow" class="md-body-1">{{item.user_name}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Tipo:</strong>
                                        <span flex="nogrow" class="md-body-1">{{item.user_type}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <strong flex="initial" class="md-body-2">Última Sesión:</strong>
                                        <span flex="nogrow" class="md-body-1">{{item.fechaCaduca}}</span>
                                    </div>

                                </div>
                                <div layout="column" ng-show="detailsPersonal.length < 1">
                                    <div layout="column" ng-show="!accountPart" layout-align="center center">
                                        <span class="md-caption">Este usuario no tiene una cuenta?</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>  

            </div>
        </ng-switch>
    </ui-view>
</md-content>