<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="proveedorItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content" ng-disabled="editProveedor == 'Editar'">
            <div layout="row" layout-align="center center">
                <md-tooltip md-direction="bottom">Lista de Proveedores</md-tooltip>
                <ng-md-icon icon="transfer_within_a_station" md-colors="{'fill':'grey-600'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
            </div>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <span ng-init="editProveedor = 'nuevo'">{{editProveedor}}</span>
        </md-tab>
        <!--<md-tab id="tab3" aria-controls="tab3-content" ng-disabled="editProveedor == 'Editar'">
            <span>Activos</span>
        </md-tab>-->
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingProveedor"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="proveedorItem.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center" pdf-save-content="proveedor">

                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-1" flex="initial">MIS PROVEEDORES</span>
                                    </div>
                                    <div flex="nogrow">
                                        <md-button  aria-label="primr" class="md-icon-button" pdf-save-button="proveedor" pdf-name="proveedor.pdf">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <input ng-model="searchProveedor" type="text" placeholder="Buscar Proveedor" required="" style="border:0px solid #757575; border-radius:6px;padding:7px;">
                                        <!--<md-input-container>
                                                <label>Buscar Cliente</label>
                                                <input ng-model="searchClient" type="text" required="">
                                            </md-input-container>-->
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item >
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="transfer_within_a_station" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Apellido Paterno</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Apellido Materno</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Nombres</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Direccion</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">RUC</div>

                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="more_vert" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider ></md-divider>
                            <md-list-item  ng-repeat="item in Collection_proveedor | filter:searchProveedor" ng-click="Pass_Proveedor('modify',item, ev)">
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="transfer_within_a_station" md-colors="{'fill':'blue-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.primer_apellido_proveedor}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.segundo_apellido_proveedor}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.nombres_proveedor}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.direccion_proveedor}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.ruc_proveedor}}</div>
                                    <md-menu md-offset="0 -5">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                            <ng-md-icon icon="more_vert" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Proveedor('modify', item, ev)"> <span md-menu-align-target>Editar</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Proveedor('delete', item, ev)"> <span md-menu-align-target>Eliminar</span></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="miProveedor" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Identificador del Proveedor</label>
                                        <input ng-model="proveedor.idProveedor" type="text" required="" ng-disabled="editProveedor == 'Editar'">
                                        <span class="md-caption">Una vez creado este campo, no es editable </span>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Nombre del Proveedor</label>
                                        <input ng-model="proveedor.nombres_proveedor" type="text" required="">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Apellido Paterno</label>
                                        <input ng-model="proveedor.primer_apellido_proveedor" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Apellido Materno</label>
                                        <input ng-model="proveedor.segundo_apellido_proveedor" type="text" required="">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>RUC</label>
                                        <input ng-model="proveedor.ruc_proveedor" type="text">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Dirección</label>
                                        <input ng-model="proveedor.direccion_proveedor" type="text" required="">
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editProveedor == 'Editar'" ng-click="cancerToEditProveedor()">Salir</md-button>
                                    <span class="md-caption" ng-show="editProveedor != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <md-button class="md-primary md-raised" ng-show="editProveedor == 'Editar'" ng-click="Update_Proveedor(proveedor)" ng-disabled="miProveedor.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editProveedor != 'Editar'" ng-click="Save_Proveedor(proveedor)" ng-disabled="miProveedor.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">
                <md-card flex-gt-sm="95" ng-show="detailsPatri">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">
                                <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                    <div flex="initial">
                                        <span class="md-title">{{patrimoniodata.nombre | uppercase}}</span>
                                    </div>
                                    <div layout="row" flex="nogrow">
                                        <md-button class="md-icon-button" aria-label="delete project" ng-click="">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <md-button class="md-icon-button" aria-label="delete project" ng-click="detailsPatri = !detailsPatri">
                                            <ng-md-icon icon="keyboard_arrow_down" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Maximizar</md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
                <md-card ng-show="!detailsPatri" flex-gt-sm="90" flex-gt-md="80" layout="row" layout-sm="column" layout-xs="column" flex
                    layout-padding layout-margin>
                    <div flex="initial" class="md-media-xl card-media" style="background-image: url(images/icons/{{patrimoniodata.image || 'analytics-1.svg'}});
				                    background-position: center center; background-repeat: no-repeat; background-size: auto auto;">
                        <div layout="row" layout-align="center center" style="height: inherit;" ng-mouseover="info={'opacity':1, 'background-color':'rgba(255,255,255,0.5)', 'transition':'all 1s'}"
                            ng-mouseleave="info={'opacity':0, 'background-color':'rgba(255,255,255,0.5)', 'transition':'all 1s'}"
                            ng-style="info" ng-init="info={'opacity':0}">
                            <div layout="column" style="color:rgba(0,0,0,.9);">
                                <span class="md-title">Ingreso: <span class="md-body-1">{{patrimoniodata.fecha_ingreso}}</span></span>
                                <span class="md-title">Comprar: <span class="md-body-1">{{patrimoniodata.fecha_compra}}</span></span>
                                <span class="md-title">Caducidad: <span class="md-body-1">{{patrimoniodata.fecha_caducidad}}</span></span>
                            </div>
                        </div>
                    </div>
                    <md-card-content flex="auto" layout="row" layout-xs="column" layout-sm="column" layout-margin>
                        <md-card-title layout="column" flex="initial">
                            <md-card-title-text>
                                <span class="md-title">{{patrimoniodata.nombre | uppercase}}</span>
                                <span class="md-subhead">Tipo de Patrimonio: {{patrimoniodata.tipo_patrimonio | uppercase}}</span>
                                <span class="md-body-1">Factor de Riesgo: {{patrimoniodata.factorRiesgo}}</span>
                                <span class="md-body-1">Vulnerabilidad: {{patrimoniodata.vulneravilidad}}</span>
                                <span class="md-caption">Registro: {{patrimoniodata.dni_personal}}</span>
                                <span class="md-caption">F. Ingreso: <span class="md-caption">{{patrimoniodata.fecha_ingreso}}</span></span>
                                <span class="md-caption">F. Compra: <span class="md-caption">{{patrimoniodata.fecha_compra}}</span></span>
                                <span class="md-caption">F. Caducidad: <span class="md-caption">{{patrimoniodata.fecha_caducidad}}</span></span>
                            </md-card-title-text>
                        </md-card-title>
                        <div layout="column">
                            <p>{{patrimoniodata.descripcion_patrimonio}}</p>
                        </div>
                    </md-card-content>
                    <md-card-options flex="nogrow" layout="column" hide-xs>
                        <md-button class="md-icon-button" aria-label="delete project" ng-click="detailsPatri = !detailsPatri">
                            <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="right">minimizar</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="delete project" ng-click="">
                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="right">Imprimir</md-tooltip>
                        </md-button>
                    </md-card-options>
                </md-card>

                <md-card ng-repeat="item in Collection_Activos_Seleccion" flex-gt-sm="90" flex-gt-md="80" layout="row" layout-sm="column"
                    layout-xs="column" flex>
                    <md-card-content flex="auto" layout="row" layout-xs="column" layout-sm="column">
                        <md-card-title layout="column" flex="50" flex-sm="100" flex-xs="100">
                            <md-card-title-text>
                                <span class="md-subhead">Caracteristicas: {{item.caracteristicas}}</span>
                                <span class="md-body-1">Categoria: {{item.categoria}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-title layout="column" flex>
                            <md-card-title-text>
                                <span class="md-caption">Registro: {{item.dni_personal}}</span>
                                <span class="md-caption">{{item.prioridad}}</span>
                                <span class="md-caption">{{item.tipo_activo}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-title layout="column" flex>
                            <md-card-title-text>
                                <span class="md-caption">F. Ingreso: <span class="md-caption">{{item.fecha_ingreso}}</span></span>
                                <span class="md-caption">F. Compra: <span class="md-caption">{{item.fecha_compra}}</span></span>
                            </md-card-title-text>
                        </md-card-title>
                        <div layout="column" flex="auto">
                        </div>
                    </md-card-content>
                    <md-card-options flex="nogrow" layout="column" hide-xs>
                        <!--<md-button class="md-icon-button" aria-label="delete project" ng-click="detailsPatri = !detailsPatri">
                            <ng-md-icon icon="clear" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="bottom">Editar</md-tooltip>
                        </md-button>-->
                        <md-button class="md-icon-button" aria-label="delete project" ng-click="">
                            <ng-md-icon icon="clear" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                            <md-tooltip md-direction="bottom">Eliminar</md-tooltip>
                        </md-button>
                    </md-card-options>
                </md-card>
                <!--<md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>-->
            </div>
        </ng-switch>
    </ui-view>
</md-content>
<!-- <md-content class="" layout="column" md-scroll-y style="top:50px;">
</md-content> -->