<md-content style="position: fixed; width: 100%; z-index:4; overflow:hidden;" md-whiteframe="1">
    <md-tabs md-stretch-tabs md-selected="requerimientoItem.selectedIndex" md-colors="{'background':'grey-50'}">
        <md-tab id="tab1" aria-controls="tab1-content" ng-disabled="editRequerimiento == 'Editar' || editDetalleReque == 'Editar'">
            <div layout="row" layout-align="center center">
                <md-tooltip md-direction="bottom">Lista de Requerimientos</md-tooltip>
                <ng-md-icon icon="domain" md-colors="{'fill':'grey-600'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
            </div>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <span ng-init="editRequerimiento = 'nuevo'">{{editRequerimiento}}</span>
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content" ng-disabled="!viewDetalleReque || editRequerimiento == 'Editar' || editDetalleReque == 'Editar'">
            <span>DETALLES</span>
        </md-tab>
    </md-tabs>
    <md-progress-linear md-mode="indeterminate" ng-show="loadingRequerimiento"></md-progress-linear>
</md-content>
<md-content flex md-scroll-y style="top:30px;">
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="requerimientoItem.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"
                layout="row" layout-align="center center" pdf-save-content="requerimiento">

                <md-card flex-gt-sm="95">
                    <md-card-content>
                        <md-list layout="column" flex="">
                            <md-list-item md-colors="{'background':'grey-200'}">

                                <div layout="row" layout-align="space-between center" flex>
                                    <div flex="initial">
                                        <span class="md-body-1" flex="initial">MIS REQUERIMIENTOS</span>
                                    </div>
                                    <div flex="nogrow">
                                        <md-button aria-label="primr" class="md-icon-button" pdf-save-button="requerimiento" pdf-name="requerimiento.pdf">
                                            <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
                                        </md-button>
                                        <input ng-model="searchPatrimonio" type="text" placeholder="Buscar Patrimonio" required="" style="border:0px solid #757575; border-radius:6px;padding:7px;">
                                        <!--<md-input-container>
                                                <label>Buscar Cliente</label>
                                                <input ng-model="searchClient" type="text" required="">
                                            </md-input-container>-->
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                            <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="assignment" md-colors="{'fill':'grey-50'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Solicitud</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Nombres</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">DNI</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Cargo</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Area</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Fecha</div>

                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="more_vert" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                    <!--<div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs>dni_personal</div>-->
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-repeat="item in Collection_requerimiento" ng-click="Pass_Requerimiento('historial',item, ev)">
                                <div layout="row" layout-align="space-around center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="assignment" md-colors="{'fill':'green-400'}" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.numero_solicitud}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.primer_apellido_personal}} {{item.segundo_apellido_personal}} {{item.nombres_personal}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.dni_personal}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.Cargo}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.Area}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.fecha}}</div>
                                    <md-menu md-offset="0 -5">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                            <ng-md-icon icon="more_vert" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Requerimiento('bienes', item, ev)"> <span md-menu-align-target>Agregar Bienes</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Requerimiento('modify', item, ev)"> <span md-menu-align-target>Editar</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="Pass_Requerimiento('delete', item, ev)"> <span md-menu-align-target>Eliminar</span></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column">


                <md-card ng-show="!seeDetalleReque" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="miRequerimiento" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>

                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editRequerimiento | uppercase}} REQUERIMIENTO</span>
                                        </div>
                                        <div flex="nogrow">
                                        </div>
                                    </div>
                                </div>

                                <md-input-container flex flex-sm="100" flex-xs="100">
                                    <label>Personal</label>
                                    <md-select ng-model="requerimiento.dni_personal" required>
                                        <md-option ng-repeat="type in listPersonal" class="md-2-line contact-item" value="{{type.dni_personal}}">
                                            <span>{{type.nombres_personal}} {{type.primer_apellido_personal}} {{type.segundo_apellido_personal}} ({{type.dni_personal}})</span>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Numero de Solicitud</label>
                                        <input ng-model="requerimiento.numero_solicitud" type="text" required="">
                                    </md-input-container>
                                    <md-datepicker ng-model="requerimiento.fecha" required="" md-placeholder="Fecha" md-open-on-focus></md-datepicker>
                                </div>

                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editRequerimiento == 'Editar'" ng-click="cancerToEditRequerimiento()">Salir</md-button>
                                    <span class="md-caption" ng-show="editRequerimiento != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <md-button class="md-primary md-raised" ng-show="editRequerimiento == 'Editar'" ng-click="Update_Requerimiento(requerimiento)" ng-disabled="miRequerimiento.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editRequerimiento != 'Editar'" ng-click="Save_Requerimiento(requerimiento)" ng-disabled="miRequerimiento.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


                <md-card ng-show="seeDetalleReque" flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <form name="misDetalleReque" layout="column" layout-align="center stretch">
                            <div layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>


                                <div layout="column" md-colors="{'background':'grey-200'}" layout-margin>
                                    <div layout="row" layout-align="space-between center" flex>
                                        <div flex="initial">
                                            <span class="md-body-1" flex="initial">{{editRequerimiento | uppercase}} DETALLE</span>
                                        </div>
                                        <div flex="nogrow">

                                        </div>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>ID Requerimiento</label>
                                        <input ng-model="detalleReque.idRequerimiento" type="text" required="" ng-disabled="true">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Cantidad</label>
                                        <input ng-model="detalleReque.cantidad" type="text" required="">
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Precio</label>
                                        <input ng-model="detalleReque.precio" type="text" required="">
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Bien</label>
                                        <md-select ng-model="detalleReque.idBien" required>
                                            <md-option ng-repeat="type in listBien" value="{{type.idBien}}">
                                                {{type.descripcion_bien}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex flex-sm="100" flex-xs="100">
                                        <label>Unidad</label>
                                        <md-select ng-model="detalleReque.idUnidad" required>
                                            <md-option ng-repeat="type in listUnidad" value="{{type.idUnidad}}">
                                                {{type.descripcion_unidad}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                </div>

                            </div>
                            <div layout="row" layout-xs="column" layout-align="space-between center" flex flex-sm="100" flex-xs="100">
                                <div flex="initial">
                                    <md-button class="md-primary " ng-show="editDetalleReque == 'Editar'" ng-click="cancerToEditDetalleReque()">Salir</md-button>
                                    <span class="md-caption" ng-show="editDetalleReque != 'Editar'"></span>
                                </div>
                                <div flex="nogrow">
                                    <!--<md-button class="md-primary md-raised" ng-show="editDetalleReque == 'Editar'" ng-click="Update_Incidencias(incidencias)"
                                        ng-disabled="misDetalleReque.$invalid">Guardar</md-button>
                                    <md-button class="md-primary md-raised" ng-show="editDetalleReque != 'Editar'" ng-click="Save_Incidencias(incidencias)" ng-disabled="misDetalleReque.$invalid">Salvar</md-button>-->
                                    <md-button class="md-primary md-raised" ng-click="Save_DetalleReque(detalleReque)" ng-disabled="misDetalleReque.$invalid">Salvar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>


            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
                layout="column" layout-align="stretch center">

                <md-card flex-gt-sm="95">
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">REQUERIMIENTO</span>
                                </div>
                                <div flex="nogrow">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="null">
                                        <ng-md-icon icon="keyboard_arrow_up" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Solicitud: {{detailsRequerimiento.numero_solicitud}}</span>
                            <span class="md-subhead">Personal: {{detailsRequerimiento.primer_apellido_personal}} {{detailsRequerimiento.segundo_apellido_personal}} {{detailsRequerimiento.nombres_personal}}</span>
                            <span class="md-caption">DNI: {{detailsRequerimiento.dni_personal}}</span>
                            <span class="md-caption">Cargo: {{detailsRequerimiento.Cargo}}</span>
                            <span class="md-caption">Area: {{detailsRequerimiento.Area}}</span>
                            <span class="md-caption">Fecha: {{detailsRequerimiento.fecha}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <!--<img src="images/icons/user.svg" alt="user">-->
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-list layout="column" flex="">
                        <md-list-item style="background:rgba(0,0,0,0.05)">
                            <div layout="row" layout-align="space-between center" flex>
                                <div flex="initial">
                                    <span class="md-body-2" flex="initial">LISTA DE DETALLES DE REQUERIMIENTOS</span>
                                </div>
                                <div layout="row" flex="nogrow" layout-xs="column">
                                    <div layout="row" layout-align="center center">
                                        <span class="md-caption" style="padding-right:15px;">{{detailsRequerimiento.historial.length}}</span>
                                        <ng-md-icon icon="description" style="fill:#757575;" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                    <input ng-model="searchDetalleReque" type="text" placeholder="Buscar Espediente" required="" style="border:0px solid #757575; border-radius:6px;padding:7px; margin-left:15px;">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                        <ng-md-icon icon="search" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list layout="column" flex="">
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Bien</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Unidad</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Cantidad</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Precio Unitario</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">Precio Total</div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>

                        </md-list>
                </md-card>
                <md-card flex-gt-sm="95" >
                    <md-card-content layout="column" flex>
                        <md-list layout="column" flex="">
                            <md-list-item  ng-repeat="item in detailsRequerimiento.historial | filter:searchDetalleReque">
                                <div layout="row" layout-align="center center" flex>
                                    <div layout="row" layout-align="center center" flex="initial">
                                        <ng-md-icon icon="polymer" style="fill:#ffffff" size="33" layout="row" layout-align="center center"></ng-md-icon>
                                    </div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.descripcion_bien}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.descripcion_unidad}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.cantidad}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.precio | currency:"S/."}}</div>
                                    <div layout="row" layout-align="center center" flex class="md-body-1">{{item.precio*item.cantidad | currency:"S/."}}</div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </div>
        </ng-switch>
    </ui-view>
</md-content>
<!-- <md-content class="" layout="column" md-scroll-y style="top:50px;">
</md-content> -->