<div layout="column" style="height: 100vh;" ng-cloak="">
	<section layout="row" flex="">
		<!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="8"  md-disable-backdrop="false">-->
		<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="8">
			<md-content md-colors="::{backgroundColor: 'default-primary-700'}" layout="column">
				<span flex></span>
				<div layout="column" class="md-toolbar-tools-bottom inset">
					<img ng-src="{{currentUser.photo}}" class="md-avatar" alt="avatar" style="width: 80px; height: 80px;border-radius:160px;">
					<span></span>
					<div layout="row" layout-align="space-between center" flex>
						<div layout="column" flex="initial">
							<span class="md-subhead" ng-bind="currentUser.email"></span>
							<span class="md-subhead" ng-bind="currentUser.name"></span>
						</div>
						<div layout="column" flex="nogrow">
							<md-menu md-position-mode="target-right target" md-offset="0 -5">
								<md-button class="md-icon-button" aria-label="InfoUser" ng-click="$mdOpenMenu($event)" aria-label="Open first menu">
									<ng-md-icon icon="arrow_drop_down" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
									<md-tooltip>Perfil</md-tooltip>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item flex ng-click="link(99, 'Personal')">
										<span class="md-subhead">Administrar</span>
										<div flex="nogrow">
											<md-button class="md-icon-button" md-autofocus aria-label="SingOut" ng-click="link(99, 'Personal')">
												<ng-md-icon icon="group" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
											</md-button>
										</div>
									</md-menu-item>
									<md-menu-item flex ng-click="logout()" hide-gt-sm>
										<span class="md-subhead">Cerrar Sesion</span>
										<div flex="nogrow">
											<md-button class="md-icon-button" md-autofocus aria-label="SingOut" ng-click="logout()">
												<ng-md-icon icon="exit_to_app" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
											</md-button>
										</div>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
					</div>
				</div>
				<span flex></span>
			</md-content>
			<md-content layout="column" flex>
				<style>
					.active {
						background: rgba(200, 170, 200, 0.3);
					}
				</style>
				<md-list>
					<md-list-content>
						<div ng-repeat="(key, value) in items">
							<md-list-item ng-click="link(key, value.title)" md-autofocus ng-class="{active:isActive(value.title)}">
								<ng-md-icon icon="{{value.icon}}" style="fill: #757575" size="44" layout="row" layout-align="end center"></ng-md-icon>
								<p class="md-subhead">{{value.title | uppercase}}</p>
							</md-list-item>
							<div ng-show="$index==0 ||  $index==items.length - 2">
								<md-divider></md-divider>
								<md-subheader ng-show="$index==0">GESTION</md-subheader>
								<!--<md-subheader ng-show="$index==items.length - 3">SOLICITUD</md-subheader>-->
								<md-subheader ng-show="$index==items.length - 2">CONFIGURACION</md-subheader>
							</div>
						</div>
					</md-list-content>
				</md-list>
			</md-content>
		</md-sidenav>
		<div layout="column" flex="">
			<md-toolbar ng-show="!showSearch" md-whiteframe="4">
				<div class="md-toolbar-tools" flex>
					<md-button class="md-icon-button" aria-label="Menu" ng-click="MenuBar()" hide-gt-md>
						<ng-md-icon icon="dehaze" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
					</md-button>
					<h2 hide-sm hide-xs>{{viewTab.value || items[0].title | uppercase}}</h2>
					<span flex></span>
					<div flex="nogrow">
						<!-- <md-button class="md-icon-button" aria-label="search" ng-click="showSearch = !showSearch">
							<ng-md-icon icon="search" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
						</md-button> -->
						<md-button class="md-icon-button" aria-label="add" ng-click="logout()" hide-sm hide-xs>
							<ng-md-icon icon="exit_to_app" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
						</md-button>
						<!-- <md-menu md-offset="0 2">
							<md-button class="md-icon-button" aria-label="InfoUser" ng-click="$mdOpenMenu($event)" aria-label="Open first menu">
								<ng-md-icon icon="account_circle" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
							    <md-tooltip>Perfil</md-tooltip>
							</md-button>
							<md-menu-content width="5">
								<md-menu-item flex >
									<span class="md-subhead" ng-bind="currentUser.email"></span>
									<div flex="nogrow">
										<md-button class="md-icon-button" aria-label="edit profile" ng-click="viewTab.key = 7">
											<ng-md-icon icon="edit" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
										</md-button>
									</div>
								</md-menu-item>
								<md-menu-item  flex ng-click="SingOut()">
									<span class="md-subhead">Cerrar Sesion</span>
									<div flex="nogrow">
										<md-button class="md-icon-button" md-autofocus aria-label="SingOut" ng-click="SingOut()">
											<ng-md-icon icon="exit_to_app" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
										</md-button>
									</div>
								</md-menu-item>
							</md-menu-content>
						</md-menu> -->
					</div>
				</div>
			</md-toolbar>
			<md-toolbar class="md-primary" ng-show="showSearch" md-whiteframe="4">
				<div class="md-toolbar-tools" flex>
					<div layout="row" flex="initial" layout-align="center center">
						<md-button class="md-icon-button" aria-label="back" ng-click="showSearch = !showSearch">
							<ng-md-icon icon="arrow_back" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
						</md-button>
						<span class="md-subhead" style="margin-right: 50px;" hide-sm hide-xs>Back</span>
					</div>
					<md-input-container class="search" layout="row" flex layout-align="center center">
						<label class="md-caption" hide-sm hide-xs>Search</label>
						<input type="text" name="search" ng-model="search">
					</md-input-container>
					<div flex="nogrow">
						<md-button class="md-icon-button" aria-label="search" ng-click="search=''">
							<ng-md-icon icon="clear" style="fill:#fff" size="33" layout="row" layout-align="center center"></ng-md-icon>
						</md-button>
					</div>
				</div>
			</md-toolbar>
			<md-content md-scroll-y flex="">
				<md-subheader hide-gt-sm ng-show="viewTab.key">INFORMACION DE {{viewTab.value | uppercase}}</md-subheader>
				<div layout="column">
					<md-search ng-show="search.length > 0"></md-search>
					<md-perfil ng-show="showProfile"></md-perfil>
					<div ng-show="!showProfile">
						<md-dashboard ng-show="viewTab.value =='Dashboard'" ng-init="viewTab.value= items[0].title"></md-dashboard>
						<md-patrimonio ng-show="viewTab.value == 'Patrimonio'"></md-patrimonio>
						<md-requerimiento ng-show="viewTab.value == 'Requerimientos'"></md-requerimiento>
						<md-conformidad ng-show="viewTab.value == 'Conformidad'"></md-conformidad>
						<md-mantenimiento ng-show="viewTab.value == 'Mantenimientos'"></md-mantenimiento>
						<md-personal ng-show="viewTab.value == 'Personal'"></md-personal>
						<md-cliente ng-show="viewTab.value == 'Clientes'"></md-cliente>
						<md-proveedor ng-show="viewTab.value =='Proveedores'"></md-proveedor>
						<md-configuracion ng-show="viewTab.value == 'Configuración'"></md-configuracion>
						<md-pedidos ng-show="viewTab.value == 'Pedidos'"></md-pedidos>

					</div>
				</div>
			</md-content>
		</div>
	</section>
</div>