
<!--<img src="images/brady-bellini-191086 (1).jpg" alt="" class="fontt">-->
<div layout="row" layout-align="center center" layout-fill layout-xs="column" layout-align-xs="center stretch" style="
height: 100vh;min-height: 375px; 
background:linear-gradient(top, rgba(73,155,234,0) 78%, rgba(73,155,234,0.06) 79%, rgba(63,148,233,0.35) 84%, rgba(32,124,229,1) 100%),url('images/brady-bellini-191086 (1).jpg');
background: url('images/brady-bellini-191086 (1).jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: auto 150%;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
">
  <div layout="row"  flex="20" flex-gt-md="25" flex-md="35" flex-sm="45" flex-xs="100">
    <div  flex="100" md-whiteframe="12dp" layout="column"  style="height: inherit; background:#fff">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout="row" layout="row" layout-align="space-between center">
          <h2 ng-bind="form.title || 'Login'"></h2>
          <md-button class="md-icon-button" aria-label="submit" ng-click="SignIn(user)" ng-disabled="login.$invalid" ng-hide="form.button" hide-gt-sm>
            <ng-md-icon icon="send" style="fill:#fff" size="44" layout="row" layout-align="center center"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div ng-style="form.active">
        <div layout="row" layout-align="center center" layout-margin>
          <img src="images/icons/user.svg" alt="user">
        </div>
        <form  name="login" layout="column" layout-align="stretch center" layout-padding layout-margin md-scroll-y>
          <md-input-container>
            <label>User</label>
            <input type="text" name="user" ng-model="user.user_name" required>
            <div ng-show="login.user_name.$dirty && login.user_name.$invalid">
              <span class="md-caption" ng-show="login.user_name.$error.required">Campo requerido</span>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="user.user_password" required>
            <div ng-show="login.user_password.$dirty && login.user_password.$invalid">
              <span class="md-caption" ng-show="login.user_password.$error.required">Campo requerido</span>
              <span class="md-caption" ng-show="login.user_password.$error.user_password">Password Incorrecto</span>
            </div>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="SignIn(user)" ng-disabled="login.$invalid">Entrar</md-button>
        </form>
      </div>
      <div layout="row"  layout-align="center center" ng-style="form.progress" layout-padding layout-margin layout-fill style="min-height: 375px;display: none;">
        <div layout="row"  layout-align="center center" style="height: 345px; ">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </div>
    </div>
  </div>
</div>