<div layout="row" layout-xs="column" layout-wrap layout-align="center stretch" layout-align="center stretch" ng-show="!viewProject">
		<md-card  ng-repeat="proyecto in dataProyectos">
			<md-card-title>
				<md-card-title-text>
					<span class="md-title">{{proyecto.nombre | uppercase}}</span>
					<span class="md-subhead">{{proyecto.cliente | uppercase}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">
				<div class="md-media-xl card-media" style="background-image: url(images/icons/{{proyecto.image || 'analytics-1.svg'}});
				background-position: center center; background-repeat: no-repeat; background-size: auto auto;">
					<div layout="row" layout-align="center center" style="height: inherit;"  ng-mouseover="info={'opacity':1, 'background-color':'rgba(255,255,255,0.5)', 'transition':'all 1s'}" ng-mouseleave="info={'opacity':0, 'background-color':'rgba(255,255,255,0.5)', 'transition':'all 1s'}" ng-style="info" ng-init="info={'opacity':0}">
						<div layout="column" style="color:rgba(0,0,0,.8);">
							<span class="md-title">Inicio: <span class="md-body-1">{{proyecto.fechaIni | myDate}}</span></span>
							<span class="md-title">Termino: <span class="md-body-1">{{proyecto.fechaFin | myDate}}</span></span>
							<span class="md-title">Presupuesto: <span class="md-body-1">{{proyecto.costosYPresupuestos  || '0' | currency:'S/'}}</span></span>
						</div>
					</div>
				</div>
				<md-card-options layout="column">
					<md-button class="md-icon-button" aria-label="see project" ng-click="project('see', $index, proyecto)">
						<ng-md-icon icon="visibility" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
						<md-tooltip md-direction="right">Ver</md-tooltip>
					</md-button>
					<!--<md-button class="md-icon-button" aria-label="edit project" ng-click="project('edit', $index, proyecto)">
						<ng-md-icon icon="edit" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
						<md-tooltip md-direction="right">Editar</md-tooltip>
					</md-button>-->
					<md-button class="md-icon-button" aria-label="download project" ng-click="project('download', $index, proyecto)">
						<ng-md-icon icon="inbox" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
						<md-tooltip md-direction="right">Descargar</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" aria-label="delete project" ng-click="project('delete', $index, proyecto)">
						<ng-md-icon icon="close" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
						<md-tooltip md-direction="right">Eliminar</md-tooltip>
					</md-button>
				</md-card-options>
			</md-card-content>
		</md-card>
</div>
<div layout="column" layout-wrap layout-align="center stretch" layout-align="center stretch" ng-show="viewProject" layout-margin>



		<div layout="row" layout-align="space-between center" md-whiteframe="2">
			<div layout="row">
				<md-button class="md-icon-button" aria-label="before" ng-click="viewProject = !viewProject">
					<ng-md-icon icon="arrow_back" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
				</md-button>
				<md-subheader class="md-no-sticky">INFORMACION DEL PROYECTO</md-subheader>
			</div>
			<div>
				<md-button class="md-icon-button" aria-label="print" ng-click="">
					<ng-md-icon icon="print" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="download" ng-click="project('download', $index, proyecto)">
					<ng-md-icon icon="inbox" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
				</md-button>
			</div>
		</div>
		<div layout="column" layout-ms="column" layout-xs="column" flex>

			
		      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
		        <md-card-title layout-sm="column" layout-xs="column">
		          <md-card-title-media>
		            <div class="md-media-xl card-media" layout="row" layout-align="center center">
		            	<img ng-src="images/icons/user.svg" style="width: 20vw; height: 22vh;">
		            </div>
		          </md-card-title-media>
		          <md-card-title-text >
		          	<div layout="column" layout-xs="column" flex>
		          		<div layout="row" layout-xs="column" layout-align="space-between top" flex>
			          		<div layout="column">
					            <span class="md-headline">{{dataProject.nombre | uppercase}}</span>
					            <span class="md-subhead">{{dataProject.costosYPresupuestos | currency:'S/.'}}</span>
			          		</div>
			          		<div layout="column">
								<span class="md-body-2">Fecha Iniciacíon: <span class="md-body-1">{{dataProject.fechaIni | myDate}}</span></span>
								<span class="md-body-2">Fecha Finalizacíon: <span class="md-body-1">{{dataProject.fechaFin | myDate}}</span></span>
			          		</div>
		          		</div>
		          		<div layout="row" layout-xs="column" flex>
		          			<div layout="column" flex>
			          			<span class="md-caption">Cliente: {{dataProject.cliente}}</span>
			          			<span class="md-caption">Rubro: {{dataProject.rubro}}</span>
			          			<span class="md-caption">Categoria: {{dataProject.categoria}}</span>
			          			<span class="md-caption">Responsable: {{dataProject.maestro}}</span>
			          			<span class="md-caption">Maestro de Obra: {{dataProject.maestro}}</span>
			          			<span class="md-caption">Servicos Contratados: {{dataProject.serviciosContratados}}</span>
		          			</div>
		          			<div layout="column" flex>
		          				<span class="md-caption">Observaciones: {{dataProject.observaciones}}</span>
		          			</div>
		          		</div>
		          	</div>
		          </md-card-title-text>
		        </md-card-title>
		        <md-card-actions layout="row" layout-align="end center">
		          <md-button>Action 1</md-button>
		          <md-button>Action 2</md-button>
		        </md-card-actions>
		      </md-card>


			<!--<div layout="column" layout-align="center center" flex="initial">
				<img ng-src="images/icons/user.svg" style="width: 20vw; height: 22vh;">
			</div>
			<div layout="column" layout-wrap flex="auto">
				<span class="md-title">{{dataProject.nombre}}</span>
				<span>{{dataProject.cliente}}</span>
				<span>{{dataProject.categoria}}</span>
				<span>{{dataProject.content}}</span>
				<span>{{dataProject.costosYPresupuestos}}</span>
				<span>{{dataProject.maestro}}</span>
				<span>{{dataProject.observaciones}}</span>
				<span>{{dataProject.rubro}}</span>
				<span>{{dataProject.serviciosContratados}}</span>
			</div>-->
		</div>
		<div layout="column">
			<div layout="row" layout-align="space-between center" md-whiteframe="2">
				<md-subheader class="md-no-sticky"> Detalles de su Actividad</md-subheader>
				<!--<md-button class="md-icon-button" aria-label="expand_more" ng-click="viewInfo = !viewInfo">
					<ng-md-icon icon="expand_more" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
				</md-button>-->
			</div>
			<div layout="row" layout-sm="column" layout-xs="column" flex>
				<div layout="column" flex layout-margin>
					<span class="md-caption">Equipo deTrabajo</span>
					<md-divider></md-divider>
					<md-list>
						<md-list-item ng-repeat="item in dataEquipo" >
							<img ng-src="{{item.image}}" alt="{{item.nombre}}" class="md-avatar">
							<div class="md-list-item-text">
								<p>{{item.nombre}}</p>
							</div>
							<p class="md-secondary">{{item.cargo}}</p>
						</md-list-item>
					</md-list>
				</div>
				<div layout="column" flex layout-margin>
					<span class="md-caption">Historial</span>
					<md-divider></md-divider>
					<md-list>
						<md-list-item ng-repeat="item in [{descripcion:'Pago 1',
						fecha:'1/11/2016'},{descripcion:'Pago 2',
						fecha:'5/11/2016'},{descripcion:'Pago 3',
						fecha:'10/11/2016'},{descripcion:'Pago 4',
						fecha:'15/11/2016'}]">
							<div class="md-list-item-text">
								<span class="md-caption">{{item.descripcion}}</span>
							</div>
							<span class="md-caption md-secondary">{{item.fecha}}</span>
						</md-list-item>
					</md-list>
				</div>
			</div>	
		</div>

</div>