<div layout="row" layout-align="center center" layout-margin layout-padding>No hay busquedas !!!</div>

<md-content   style="position: fixed; width: 100%; z-index:4; overflow:hidden; z-index:2;" md-whiteframe="1" flex-offset-md="25" flex-offset-sm="40" flex-offset-xs="100">
	<md-tabs md-stretch-tabs  md-selected="tabUser"  md-colors="{'background':'grey-50'}"   >
		<md-tab id="tab1" aria-controls="tab1-content">
			<div layout="row" layout-align="center center">
				<span class="person"></span>
				<md-tooltip md-direction="bottom">Usuarios</md-tooltip>
			</div>
		</md-tab>
		<md-tab id="tab2" aria-controls="tab2-content" >
			<span>PERFILES</span>
		</md-tab>
	</md-tabs>
</md-content>
<md-content flex md-scroll-y>
	<ui-view layout="column" layout-fill layout-padding>
		<div class="inset" hide-sm></div>
		<ng-switch on="tabUser" class="tabpanel-container">
			<div role="tabpanel"
			id="tab1-content"
			aria-labelledby="tab1"
			ng-switch-when="0"
			md-swipe-left="next()"
			md-swipe-right="previous()"
			layout-margin
			layout="column" layout-align="center stretch">
<div layout="row" layout-align="space-between center" ng-show="!viewNewUser">
	<span flex="initial"></span>
	<div flex="nogrow">
		<md-button md-no-ink class="md-primary" ng-click="viewNewUser = !viewNewUser">Nuevo Usuario</md-button>
	</div>
</div>
<md-card flex-sm flex-xs flex-gt-md="80" ng-show="viewNewUser">
	<md-card-content>
		<md-subheader class="md-no-sticky" >
			<div layout="row" layout-align="space-between center" flex>
				<span class="md-title" flex="initial">NUEVO USUARIO</span>
				<div layout="row" flex="nogrow"  class="md-body-1">
					<ng-md-icon icon="clear"  size="33" layout="row" layout-align="center center" ng-click="viewNewUser = !viewNewUser" style="fill:#757575; outline: none; cursor: pointer;"></ng-md-icon>
				</div>
			</div>
		</md-subheader>
		<md-divider></md-divider>
		<form name="newusers"   layout-padding  >
			<div  layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
				<div layout="row">
					<md-input-container flex  flex-sm="100" flex-xs="100" >
						<label>Nombres</label>
						<input ng-model="newuser.displayName" type="text" required>
					</md-input-container>

					<md-input-container flex  flex-sm="100" flex-xs="100" >
						<label>Email</label>
						<input ng-model="newuser.email" type="email" required>
					</md-input-container>

					<md-input-container flex  flex-sm="100" flex-xs="100" >
						<label>Password</label>
						<input ng-model="newuser.password" type="password" required>
					</md-input-container>

				</div>
				<div layout="row">
					<md-input-container flex  flex-sm="100" flex-xs="100" >
						<label>DNI</label>
						<input ng-model="newuser.dni" type="number" required>
					</md-input-container>

					<md-input-container flex flex-sm="100" flex-xs="100">
						<label>Perfil</label>
						<md-select ng-model="newuser.privilegio" required>
							<md-option ng-repeat="(value, key) in listUsers.usuarios" value="{{value}}">
								{{value}}
							</md-option>
						</md-select>
					</md-input-container>
				</div>



			</div>
			<div layout="row" layout-align="end center" flex flex-sm="100" flex-xs="100">
				<md-button class="md-primary md-raised" ng-click="addnewuser(newuser)" ng-disabled="newusers.$invalid">Agregar</md-button>
				<span class="md-caption" flex="nogrow">{{messageFilter}}</span>
			</div>
		</form>
	</md-card-content>
</md-card>

			<md-card flex-gt-sm="100" flex-gt-md="100">
				<md-card-content>
					<div layout="column" flex="" flex-sm="100" flex-xs="100" >
						<md-list>
							<md-list-item >
								<div layout="row"  layout-align="space-around center" flex>
									<div layout="row" layout-align="center center" flex="initial" >
								</div>
								<div layout="column" layout-align="center start" flex class="md-body-1" style="padding-left:7px" hide-sm hide-xs><strong>Usuario</strong>

								</div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs><strong>Documento de Identidad (DNI)</strong></div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs><strong>Perfil</strong></div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs><strong>Fecha de Registro</strong></div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs><strong>Ultima Sesión</strong></div>
						</div>
						<md-divider></md-divider>
					</md-list-item>
						</md-list>
						<md-list   layout="column" flex=""  ng-repeat="(us, key) in listUsers.usuarios">
							<md-list-item md-colors="{'background':'grey-200'}" >
								<div layout="row" layout-align="space-between center" flex>
									<span class="md-body-1" flex="initial">{{us}}</span>
								</div>
							</md-list-item>
							<md-divider></md-divider>
							<md-list-item ng-repeat="item in listUsers.gestores"  ng-if="item.privilegio == us" >
								<div layout="row"  layout-align="space-around center" flex>
									<div layout="row" layout-align="center center" flex="initial" >
										<img ng-src="{{item.photoURL}}" alt="{{item.displayName}}" ng-if="item.photoURL != ''" style="width: 35px; height: 35px; border-radius: 70px;">
								</div>
								<div layout="column" layout-align="center start" flex class="md-list-item-text" style="padding-left:7px">
								<span class="md-body-1">{{item.displayName}} <strong ng-show="item.uid == currentUser.uid" style="padding-left:7px"> (YO) </strong> </span>
								<span class="md-subheader" >{{item.email}}</span>
								</div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs>{{item.dni}}</div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs>{{item.privilegio}}</div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs>{{item.fecharegistro}}</div>
								 <div layout="row" layout-align="center center" flex class="md-body-1" hide-sm hide-xs>{{item.ultimasesion}}</div>

								<md-menu md-offset="0 -5" >
								<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
									<ng-md-icon icon="more_vert" style="fill:#757575" size="33" layout="row" layout-align="center center"></ng-md-icon>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item >
										<md-button ng-click="announceClick('editar', item)" ng-disabled="'true'"> <span md-menu-align-target>Editar</span></md-button>
									</md-menu-item>
									<md-menu-item >
										<md-button ng-click="announceClick('eliminar', item)" ng-disabled="'true'"> <span md-menu-align-target>Eliminar</span></md-button>
									</md-menu-item>
								</md-menu-content>
								</md-menu>

						</div>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</div>
		</md-card-content>
	</md-card>
</div>
<div role="tabpanel"
id="tab2-content"
aria-labelledby="tab2"
ng-switch-when="1"
md-swipe-left="next()"
md-swipe-right="previous()"
layout-margin
layout="column" layout-align="center stretch"
>

<div layout="row" layout-align="space-between center" ng-show="!viewNewPerfils">
	<span flex="initial"></span>
	<div flex="nogrow">
		<md-button md-no-ink class="md-primary" ng-click="viewNewPerfils = !viewNewPerfils">Nuevo Perfil</md-button>
	</div>
</div>

<md-card flex-sm flex-xs flex-gt-md="80" ng-show="viewNewPerfils">
	<md-card-content>
		<md-subheader class="md-no-sticky" >
			<div layout="row" layout-align="space-between center" flex>
				<span class="md-title" flex="initial">NUEVO PERFIL</span>
				<div layout="row" flex="nogrow"  class="md-body-1">
					<ng-md-icon icon="clear"  size="33" layout="row" layout-align="center center" ng-click="viewNewPerfils = !viewNewPerfils" style="fill:#757575; outline: none; cursor: pointer;"></ng-md-icon>
				</div>
			</div>
		</md-subheader>
		<md-divider></md-divider>
		<form name="newperfils"   layout-padding  >
			<div  layout="column" layout-sm="column" layout-xs="column" layout-align="space-between stretch" flex>
				<md-input-container flex  flex-sm="100" flex-xs="100" >
					<label>Nombre de Perfil</label>
					<input ng-model="newperfil.name" type="text" required>
				</md-input-container>
			</div>
			<span class="md-body-1">Acceso a:</span>
			<div layout="row" layout-align="space-around center" flex flex-sm="100" flex-xs="100">
				<div   ng-repeat="rute in listUsers.rutas">
					<md-checkbox   name="{{rute}}" flex ng-value="datavalue" ng-click="datavalue = changedNewRules(!datavalue, rute)">{{ rute }}</md-checkbox>
				</div>
			</div>
			<div layout="row" layout-align="end center" flex flex-sm="100" flex-xs="100">
				<md-button class="md-primary md-raised" ng-click="addNewRules(newperfil.name)" ng-disabled="newperfils.$invalid">Agregar</md-button>
				<span class="md-caption" flex="nogrow">{{messageFilter}}</span>
			</div>
		</form>
	</md-card-content>
</md-card>

<md-card flex-sm flex-xs flex-gt-md="80">
	<md-card-content>
		<md-subheader class="md-no-sticky">
			<span class="md-title">PERFILES</span>
		</md-subheader>
		<md-divider layout-margin layout-padding></md-divider>
		<md-list>
			<md-list-item ng-repeat="(value, key) in listUsers.usuarios" layout="row" layout-align="center center" layout-margin >
				<span class="md-body-1" flex="15">{{value | uppercase}}</span>
				<div layout="row"  layout-xs="column"  layout-align="center stretch" flex="85" class="md-secundary">
					<div flex ng-repeat="rute in listUsers.rutas">
						<!--<md-checkbox ng-checked="existRute(rute, item.rutas)"  name="{{rute}}" ng-click="toggle( existRute(rute, item.rutas),item, $index, rute)">{{ rute }}</md-checkbox>-->
						<md-checkbox ng-checked="existRute(rute, key)"  name="{{rute}}" >{{ rute }}</md-checkbox>
					</div>
				</div>

				<md-button class="md-raised md-primary" ng-disabled="true" hide>Guardar</md-button>
				<md-button class="md-icon-button" aria-label="close" ng-click="doDeletePerfil($event, value, $index)" hide>
					<ng-md-icon icon="clear" style="fill:red" size="33" layout="row" layout-align="center center"></ng-md-icon>
				</md-button>
			</md-list-item>
		</md-list>
	</md-card-content>
</md-card>


</div>

</ng-switch>
</ui-view>
</md-content>
